{% extends "./layouts/main.njk" %}
{% set title        = 'KCG' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->
{# <section class="section-content">  #}
  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-4">
            <h1 class="title"><strong>Tianna Botosh</strong></h1>
            <div class="subtitle">UX/UI Designer</div>
            <div class="paragraph">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae odio turpis. Aenean nec ante dui. Sed nec dui eget lectus consectetur iaculis sit amet eu lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam finibus, arcu nec dapibus dapibus, metus mauris tempus nunc, sit amet porttitor massa lacus eget quam. 
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/person-1.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

{# </section> #}
<!-- END SECTION -->



{% endblock %}