{% extends "./layouts/main.njk" %}
{% set title        = 'KCG' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->
{# <section class="section-content">  #}
  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-4">
            <h1 class="title"><strong>Andrea Djordjevic</strong></h1>
            <div class="subtitle">Graphic & Web Designe</div>
            <div class="paragraph">
              Andrea’s primary role at King’s Crest Global is web design and development. She genuinely appreciates the causes and ideas the company supports and enjoys her interactions with the clients, who she feels offer freedom to be creative through her work. With a Master’s degree in Architecture, she currently works both as a graphic designer and as an urban planner and architect, expanding infrastructure and creating city plans in Belgrade, Serbia. Through her role as an architect, she has truly grasped the essence of what it means to be knowledgeable in various steps of complicated processes that are necessary in both urban planning and web development. With this comes her great understanding of how to effectively execute in order to complete the job as precisely and efficiently as possible.
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/person-2.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

{# </section> #}
<!-- END SECTION -->



{% endblock %}