{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Team' %}
{% set page         = 'about-team' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


  <div class="scrolldown">
    <span>ALL TEAM</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-team">

      <div class="submenu sb-white">
        <div class="item sb-button">
          <div class="svg i-close"></div>
          <div class="svg i-open"></div>
        </div>
        <div class="sb-wrapper">
          <a href="about.html" class="item"><span>ABOUT</span></a>
          <a href="about-mission.html" class="item" ><span>MISSION</span></a>
          <a href="about-team.html" class="item active" ><span>TEAM</span></a>
          <a href="about-giving.html" class="item" ><span>GIVING</span></a>
        </div>
      </div>

      <div class="container-fluid">
          <div class="caption c-center">
            <span>Team</span>
          </div>
          <div class="row justify-content-center">
            <div class="col col-5">
              <h1 class="title t-medium t-people" >Meet <span class="name">the people</span> who <span class="area">make the <b>magic</b> happen</span></h1>
              <div class="button b-black">
                <div class="wrapper">
                  <span class="text">MEET OUR TEAM</span>
                </div>
              </div>
            </div>
            <div class="col col-5">
              <div class="people-scramble">
                <div class="wrapper">

                  <div class="images">
                    <figure data-target="0" style="background-image:url(assets/about/people/djordje.png);"></figure>
                    <figure data-target="1" style="background-image:url(assets/about/people/satyam.png);"></figure>
                    <figure data-target="2" style="background-image:url(assets/about/people/andrea.png);"></figure>
                    <figure data-target="3" style="background-image:url(assets/about/people/gabrielle.png);"></figure>
                    <figure data-target="4" style="background-image:url(assets/about/people/ksenija.png);"></figure>
                    <figure data-target="5" style="background-image:url(assets/about/people/filipa.png);"></figure>
                    <figure data-target="6" style="background-image:url(assets/about/people/rita.png);"></figure>
                    <figure data-target="7" style="background-image:url(assets/about/people/saul.png);"></figure>
                  </div>

                  {% set name = cycler('Djordje','Satyam','Andrea','Gaby','Ksenija','Filipa','Rita','Saul') %}
                  {% set area = cycler('ignites <b>ideas</b> with next-generation <b>designs</b>','fuels <b>websites</b> with <b>beautiful</b> code','upgrades <b>concepts</b> with stunning <b>designs</b>','sparks <b>engagement</b> with creative <b>content</b>','expertly <b>manages</b> every detail of <b>finance</b>','cultivates <b>change</b> and fixes client <b>problems</b>','inspires great <b>outcomes</b> with seamless <b>organization</b>','inspires and drives a <b>creative</b>, next-generation vision for <b>KCG</b>') %}
                  <div class="hint">
                  {% for u in range(0,8) %}
                    <div class="item" data-target="{{u}}" data-name="{{name.next()}}" data-area="{{area.next()}}" data-link=""></div>
                  {% endfor %}
                  </div>

                  
                </div>
                <div class="pc-pointer">
                  <div class="ico i-mouse svg"></div>
                  <div class="ico i-hand svg"></div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="about-content ac-nobottom">
      <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col col-10">
              <div class="people">
                {% set image = cycler('saul','ksenija','filipa','kate','alice','gabrielle','liviu','salman','rita','nathan','thiago','cecilia','cem','luiz','satyam','marjorie','praveen','andrea','nicolai','russel','djordje','nazifa','waqas' ) %}
                {% set link = cycler('saul','ksenija','filipa','kate','alice','gabrielle','liviu','salman','rita','nathan','thiago','cecilia','cem','luiz','satyam','marjorie','praveen','andrea','nicolai','russel','djordje','nazifa','waqas' ) %}
                {% set name = cycler('Saul Tesser','Ksenija Prijovic','Filipa Borges','Kate Gwinnet','Alice Duval','Gabrielle Brogan','Liviu Stefan','Salman Ahmed','Rita Dias','Nathan Hemmingbrown','Thiago Mota','Cecilia Seiter','Cem Celik','Luiz Rodrigues','Satyam Sharma','Marjorie Vera','Praveen','Andrea Djordjevic','Nicolai Gheorghiev','Abu Sayed Russel','Djordje Jovanovic','Nazifa Rashid','Waqas Zafar') %}
                {% set occupation = cycler('Founder & CEO','CFO','Engagement Manager','Head of Instructional Design','Project Manager','Head of Copywriting','Head of PPC and SEO','Head of Technology','Project Manager','Designer','Designer','Copywritter','Developer','Developer','Developer','Copywriter','Developer','Designer','System AWS Administrator','Developer','Designer & Developer','Developer','QA') %}
                      
                {% for u in range(0,23) %}
                <a href="about-p-{{image.next()}}.html" class="item">
                  <div class="i-wrapper">
                    <img src="assets/about/people/{{link.next()}}.png" alt="" />
                    <div class="infos">
                      <span class="name">{{name.next()}}</span>
                      <span class="occupation">{{occupation.next()}}</span>
                    </div>
                  </div>
                </a>
                {% endfor %}
                
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="about-content">
      <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col col-10">
              <div class="title t-center t-small" >Want to be a part of our team?<br>We are hiring! <strong><a href="contact.html">Contact Us</a></strong></div>
            </div>
          </div>
      </div>
    </div>


{% endblock %}