{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Abu Sayed Russel' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}

<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Abu Sayed Russel</strong></h1>
              <div class="subtitle">Wordpress Developer</div>
              <div class="paragraph p-bigger">
                Abu Sayed Russell is a Full Stack Wordpress Developer located in Dhaka, Bangladesh. He works effortlessly across international teams to build outstanding websites for clients around the world.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/russel.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Curious, disruptive, visionary</h3>

            <div class="paragraph">
              {# • Over 25 years of experience working with companies from Google X to BarkBox<br>
              • Leading expert in strategy, entrepreneurship and technology management<br>
              • Professor of Digital Business and Entrepreneurship at the University of Barcelona <br>
              • MA Conducting, The Juilliard School; MBA, Wharton; MSE, Technology Management, University of Pennsylvania & Wharton  #}
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              A highly skilled developer, he has been applying his skills to client projects with Kings Crest Global since April  2021. With a keen eye for detail and dedicated work ethic, Russell enjoys building websites that truly make an impact and function flawlessly. He is passionate about continuously improving his programming skills and he takes time to ensure that he always stays up to date with the latest developments in the computer engineering space. He graduated from Dhaka International University, where he achieved both his Master’s and Bachelor’s in Computer Science & Engineering. Outside of work, Russell enjoys swimming, reading and travelling. In particular, he can be found checking out the latest science fiction and history books.
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}