{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Rita Dias' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-4">
            <div class="people p-full">
              <img src="assets/about/people/rita.png" alt="" />
            </div>
          </div>
          <div class="col col-6">
            <h1 class="title"><strong>Rita Dias</strong></h1>
            <div class="subtitle">Project Manager</div>
            <div class="paragraph">
              Rita Dias, Project Manager, is the bridge who connects our clients with the globally-based expert team of business professionals here at King’s Crest Global. While she currently focuses her expertise on team management and website development for some of our top clients, she also has a substantial background working in activism. She studied political science and international relations while achieving her Master’s degree in Public Policy, and she previously worked at the US Embassy in Lisbon, Portugal. With all that she offers through her impeccable sense of time management and her unique approach to problem-solving, Rita truly believes that “the more diverse a background you have, the more value you can deliver.” She is always ready to embrace new challenges since she sees herself working long-term with diverse teams.
            </div>
          </div>
        </div>
      </div>

    </div>


<!-- END SECTION -->



{% endblock %}