{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Filipa Borges' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Filipa Borges</strong></h1>
              <div class="subtitle">Engagement Manager</div>
              <div class="paragraph p-bigger">
                Filipa plays a combined role of Engagement Manager and the team’s resident Fixer.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/filipa.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Creative, curious, analytical</h3>

            <div class="paragraph">
              • Digital Marketing<br>
              • Photography and videography<br>
              • Master’s in International Business
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              Her marketing background and wide range of interests mean that she can be relied upon to bring an informed point of view across diverse projects. Her superpower, if you were to try and pick just one, would be client and team alignment, ensuring that there is productive communication and organization across all areas. Indeed, communication is the common thread throughout her career history, starting with design and photography before moving into business and product management. Filipa is passionate about working with tech-for-impact, creating positive solution-oriented change for our clients.<br><br>
            
              Filipa plays a combined role of Engagement Manager and the team’s resident Fixer. Her marketing background and wide range of interests mean that she can be relied upon to bring an informed point of view across diverse projects. Her superpower, if you were to try and pick just one, would be client and team alignment, ensuring that there is productive communication and organization across all areas. Indeed, communication is the common thread throughout her career history, starting with design and photography before moving into business and product management. Filipa is passionate about working with tech-for-impact, creating positive solution-oriented change for our clients.<br><br>
            
              With a BA in Communications Design, Filipa spent time living in France, before completing her Master’s and moving to China. She is now based in Portugal, where she is originally from, and is busy exploring Lisbon with fresh eyes. [- She can often be found looking for adventure, and brings her camera everywhere she goes in order to capture the meaningful moments as they happen. 
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}