{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Thiago Mota' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Thiago Mota</strong></h1>
              <div class="subtitle">Designer</div>
              <div class="paragraph p-bigger">
                Thiago Mota is a UX and UI designer, creating beautiful visual designs for KCG’s clients around the globe.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/thiago.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Creative, visionary, dynamic</h3>

            <div class="paragraph">
              • UX and UI expertise <br>
              • Undergraduate in Visual Communication Design<br>
              • Masters in Product Management
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              Whether it’s a website, PowerPoint, illustration or infographic, Thiago is able to understand the details of the user’s experience, and create something that is both aesthetically pleasing and highly functional. He is well-known for his ability to dive deep into the experience that the client is looking to achieve, translating that into something beautiful. He sees design as a language that he is (highly!) proficient in. Design continues to inspire Thiago because it has limitless outcomes, meaning he can truly tailor solutions to a client’s exact needs.<br><br>
            
              Thiago Mota is a UX and UI designer, creating beautiful visual designs for KCG’s clients around the globe. Whether it’s a website, PowerPoint, illustration or infographic, Thiago is able to understand the details of the user’s experience, and create something that is both aesthetically pleasing and highly functional. He is well-known for his ability to dive deep into the experience that the client is looking to achieve, translating that into something beautiful. He sees design as a language that he is (highly!) proficient in. Design continues to inspire Thiago because it has limitless outcomes, meaning he can truly tailor solutions to a client’s exact needs. <br><br>

              Thiago graduated in Visual Communication Design from the Federal University of Rio de Janeiro. He also completed his post graduate in Product Management. He has worked with a wide range of design agencies across industries, including insurance companies, mining companies and cultural festivals. Within these roles, as a designer, Thiago managed inbound marketing, communications, visual content, end-to-end advertising campaigns and fundraising. He has also worked internationally in Scotland and Portugal. <br><br>

              Thiago’s superpower is his ability to truly listen and understand the story that the client is trying to tell. He enjoys diving into new universes of content and working in a versatile way to achieve outstanding design results. Outside of work, Thiago can be found following his passion for photography, and he is in fact a published photographer. 
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}