{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Marjorie Vera' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Marjorie Vera</strong></h1>
              <div class="subtitle">Writer</div>
              <div class="paragraph p-bigger">
                Marjorie is a highly efficient and imaginative writer working on the King’s Crest Global team.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/marjorie.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Creative, connective, catalyzer</h3>

            <div class="paragraph">
              • 8+ years of marketing and media experience<br>
              • Bachelor’s degree in PR and Marketing, minor in International Management<br>
              • Currently working towards Master’s in Clinical Psychology 
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              Her experience is wide-ranging, meaning that she effortlessly specializes in both corporate and creative content (often blending the two worlds!). Currently based in Spain, Marjorie applies her expert eye to achieve meaningful engagement with our client’s target audiences. Vastly multifaceted, Marjorie thrives when busy with diverse projects and passions. While living in New York, she simultaneously managed a corporate career and a career as a semi-professional dancer. Her business background, working for a privately held Spanish-language media company, enabled her to develop expertise in corporate legal assistance, marketing, and finance.<br><br>
            
              Marjorie is a highly efficient and imaginative writer, working on the King’s Crest Global team. Her experience is wide-ranging, meaning that she effortlessly specializes in both corporate and creative content (often blending the two worlds!). From website copy to blogs, biographies, and email series, Marjorie applies her expert eye to achieve meaningful engagement with our client’s target audiences.<br><br>
            
              Vastly multifaceted, Marjorie thrives when busy with diverse projects and passions. While living in New York, she simultaneously managed a corporate career and a career as a semi-professional dancer. Her business background, working for a privately held Spanish-language media company, enabled her to develop expertise in corporate legal assistance, marketing, and finance. Within the dance world, Marjorie worked extensively with artists, while also exploring her own dance specialism and niche. Her experience in project management and executive assistance enables her to apply outstanding levels of organization to her writing work<br><br>
            
              Now, Marjorie lives in Spain, where she is pursuing her Master’s in Clinical Psychology with a focus on Dance and Movement Therapy. True to Marjorie’s energetic spirit, she also works as a yoga teacher, writer, and is training as a dance and movement therapist. Of course, with such a busy schedule, Marjorie’s superpower becomes clear; time management! She is able to juggle competing priorities and manage deadlines, while also ensuring that she maintains a healthy work-life balance.<br><br>

              When she’s not exploring new ways to share the experience of movement by setting up classes and building community, Marjorie can be found working on various creative projects. She enjoys experimental dance classes and crafting new ways to enhance her writing skills.
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}