{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Luiz Rodrigues' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}

<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Luiz Rodrigues</strong></h1>
              <div class="subtitle">Designer and Web Developer</div>
              <div class="paragraph p-bigger">
                Luiz Rodrigues is both a Designer and Web Developer at King’s Crest Global, collaborating regularly with both the design and development teams
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/luiz.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Curious, disruptive, visionary</h3>

            <div class="paragraph">
              • Working collaboratively with global creative teams developing exceptional designs and products<br>
              • Offering intuitive insights in response to client demands to exceed client expectations<br>
              • Degree in Design
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              He describes his role as working closely with these creative teams to develop aesthetically pleasing designs and products. He also points out the importance of the design, development and technology team working in conjunction with one another because the technology ultimately decides if design and development can be strategically implemented. With a degree in design and a background working with large-scale companies, such as Phillip Morris and Coca Cola, Luiz has become very well adept at balancing the creative tasks with the coding tasks. In his native Brazil, he has also worked at both large and small agencies. <br><br>

              Currently, he is working on some interactive projects utilizing both his designer and front end developer expertise to design visual, animation and UI/UX interfaces. He previously won an award for a Google engineering project where he created data visualization for Google+. He was contacted personally by a Google engineer regarding his creation, and the project subsequently created a buzz with Google+ and within the data visualization industry. His ability to deeply understand the purpose of each product he creates is his professional superpower - he is extremely creative yet also keenly understanding of the business side. Everything he creates comes from a place of deep and intuitive understanding of the client’s needs which helps him to meet or exceed expectations in his professional endeavors.<br><br>

              Luiz is a surfer at heart and he likes to go to the beach during the early morning, or sometimes even heads to Rio de Janeiro to catch some waves. He loves hiking in the mountains and enjoying the tranquility of nature. He understands how important it is for his creative mind to disconnect and always makes it a priority to take time for himself. 
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}