{% extends "./layouts/main.njk" %}
{% set title        = 'KCG' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->
{# <section class="section-content">  #}
  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-4">
            <h1 class="title"><strong>Satyam Dwivedi</strong></h1>
            <div class="subtitle">Developer</div>
            <div class="paragraph">
              Satyam Sharma is a front end and back end developer, working primarily with PHP, and his work enables us to deliver next-generation apps and websites to clients. Audiences are able to engage with the client’s brand and messaging seamlessly thanks to Satyam’s dedicated development work across a broad range of industries. With a career in web development spanning the last six years, Satyam is highly experienced in the technology space. He has a diploma in Computer Science which further supports this expertise and his focus is, in particular, on clean work. He ensures that the code he works on is clean and clear, meaning that others can understand it and work on it if needed in the future. 
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/person-6.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

{# </section> #}
<!-- END SECTION -->



{% endblock %}