{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Filipa Borges' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-4">
            <div class="people p-full">
              <img src="assets/about/people/filipa.png" alt="" />
            </div>
          </div>
          <div class="col col-6">
            <h1 class="title"><strong>Filipa Borges </strong></h1>
            <div class="subtitle">Engagement Manager</div>
            <div class="paragraph">
              Filipa plays a combined role of Engagement Manager and the team’s resident Fixer. Her marketing background and wide range of interests mean that she can be relied upon to bring an informed point of view across diverse projects. Her superpower, if you were to try and pick just one, would be client and team alignment, ensuring that there is productive communication and organization across all areas. Indeed, communication is the common thread throughout her career history, starting with design and photography before moving into business and product management. Filipa is passionate about working with tech-for-impact, creating positive solution-oriented change for our clients. 
            </div>
          </div>
        </div>
      </div>

    </div>


<!-- END SECTION -->



{% endblock %}