{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Djordje Jovanovic' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Djordje Jovanovic</strong></h1>
              <div class="subtitle">Designer & Developer</div>
              <div class="paragraph p-bigger">
                Both a Designer and Developer at King’s Crest Global, Djordje Jovanovic works closely with the development team to build websites using client responses and feedback, create assets for design and web development, and produce a broad range of design-based creative for the clients.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/djordje.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Driven, enthusiastic, builder</h3>

            <div class="paragraph">
              • Dynamic developer who strives to understand complex processes<br>
              • Inquisitive and curious while offering intelligent and creative solutions<br>
              • BS in Engineering and Master’s degree in Mechanical Engineering for Automation
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              With a bachelor’s degree in Engineering and a master’s degree in Mechanical Engineering for Automation from Belgrade, Serbia, he has merged his early technical background and expertise in design to progressively transition from design to a front-end development career. Aside from his work with KCG, he is also a Mechanical Engineer with training in automation and working in the field of HVAC.<br><br>
            
              Both a Designer and Developer at King’s Crest Global, Djordje Jovanovic works closely with the development team to build websites using client responses and feedback, create assets for design and web development, and produce a broad range of design-based creative for the clients. With a bachelor’s degree in Engineering and a master’s degree in Mechanical Engineering for Automation from Belgrade, Serbia, he has merged his early technical background and expertise in design to progressively transition from design to a front-end development career. Aside from his work with KCG, he is also a Mechanical Engineer with training in automation, working in the field of HVAC.<br><br>
            
              From a young age, Djordje has had a distinct interest in IT and his hobbies included programming. He enjoys complex and interesting projects and he has had an enduring curiosity about understanding precisely how computers function. He has used his innate enthusiasm to connect with the nature of technology in order to conquer much more challenging tasks. His ultimate superpower is definitely his fast-learning capabilities. “Give me a book to read and in two days I can make you believe I wrote the book,” he says. He truly enjoys the process of trying to understand and analyze complexities, which makes the process gratifying for him. With such a gift, he can always deliver.<br><br>
            
              During Djordje’s free time, he likes to build things and he currently is awaiting some parts from China so he can build a 3D printer from scratch. He is a natural builder and an avid reader, with an annual goal of 25 books. He also enjoys swimming, rowing and kayaking, and can easily spend 2-3 days reconnecting with nature at the river.
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}