{% extends "./layouts/main.njk" %}
{% set title        = 'KCG' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->
{# <section class="section-content">  #}
  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-4">
            <h1 class="title"><strong>Gaby Brogan</strong></h1>
            <div class="subtitle">Head of Content</div>
            <div class="paragraph">
              Gaby Brogan, Head of Content at King’s Crest Global, advises clients and manages the writing team, working together to deliver messages in a way that is captivating, vivid and engaging. While currently based in Amsterdam, she utilizes both her creativity and expertise to develop innovative content for online engagement. Her degree in Psychology provides her with a keen understanding of how to best analyze audiences in order to capture the true essence of the client, while simultaneously amplifying the client’s voice strategically. She has several years of experience managing content strategy, which she refined during her tenure of working in both strategic consulting and marketing while based in the UK.
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/person-3.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

{# </section> #}
<!-- END SECTION -->



{% endblock %}