{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Alice Duval' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

<div class="smooth-scroll" data-scroll-content>

  <div class="webdoor w-person">

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-1">
          <a href="about-team.html" class="button b-black b-icon">
            <div class="wrapper">
              <div class="arrow svg a-left"></div>
            </div>
          </a>
        </div>
        <div class="col col-4">
          <div class="people p-full">
            <img src="assets/about/people/alice.png" alt="" />
          </div>
        </div>
        <div class="col col-6">
          <h1 class="title"><strong>Alice Duval</strong></h1>
          <div class="subtitle">Project Manager</div>
          <div class="paragraph">
            Alice is an innovative and highly efficient Project Manager at Kings Crest Global. She plans every element of our client projects with precision and leverages her communication skills to ensure alignment across very diverse, international teams. To Alice, project planning is like a great complex game, in which her strategic decisions empower a win. With a background in business, marketing and event management, Alice’s expertise is wide-ranging. Her master’s thesis explored new, innovative forms of management, which is something she brings to her role at KCG every day - to Alice, a team is a circle, not a vertical line. She developed this approach further during her career in Paris while working in music event planning, before moving to Lisbon where she’s now based. 
          </div>
        </div>
      </div>
    </div>

  </div>


<!-- END SECTION -->



{% endblock %}