{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Giving' %}
{% set page         = 'about-giving' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->


<div class="smooth-scroll" data-scroll-content>

  <div class="webdoor w-giving">
  
    <div class="submenu sb-white">
      <div class="item sb-button">
        <div class="svg i-close"></div>
        <div class="svg i-open"></div>
      </div>
      <div class="sb-wrapper">
        <a href="about.html" class="item"><span>ABOUT</span></a>
        <a href="about-mission.html" class="item" ><span>MISSION</span></a>
        <a href="about-team.html" class="item" ><span>TEAM</span></a>
        <a href="about-giving.html" class="item active" ><span>GIVING</span></a>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-10">
          <div class="caption c-center">
            <span>Giving</span>
          </div>
          <h1 class="title t-medium t-center"><strong>It’s Time To Address The<br>Elephant In The Room</strong></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="about-content ac-notop">
    <div class="ac-image">
      <img src="assets/about/elephants.jpg" />
    </div>
  </div>

  <div class="about-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-9">
          <div class="caption"><span>We adopted</span></div>

          <h3 class="subtitle sb-right">"Yes, we adopted elephants, and they’ve been a wonderful addition to our team."</h3>
          
          <div class="paragraph">
             There’s something we've been wanting to share with you all for a long time. That might sound pretty ominous, but don’t worry: we’re not admitting to intellectual property theft or giving away trade secrets. In fact, we’re here to share something a little more lighthearted, and given that we recently celebrated World Elephant Day, we figured this was perfect timing.
            <br><br>
            To explain, we’re going to take you on a little trip to Koh Samui, the second largest island in Thailand. 
            <br><br>
            Koh Samui is blanketed by tropical jungle, with the Khao Pom Mountain rising majestically over the island. It’s essentially everything you’d imagine a tropical paradise to be, with pristine white-sand beaches and blue waters reflecting the sky. Veer towards the northernmost coastline of the island and you’ll see a 23-acre park, nestled in rolling hills, verdant jungles and man-made pools. In those 23 acres, our trunk-bearing KCG family members live happily in a sanctuary made just for them. 
            <br><br>
            Yes, we adopted elephants, and they’ve been a wonderful addition to our team.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-9">
          <div class="caption"><span>The KCG Family Just Got a Whole Lot Bigger</span></div>

          <h3 class="subtitle sb-right">"Samui Elephant Haven, the home of our new elephant family, was founded in 2018 to rescue elephants from the tourist-trekking industry."</h3>
          
          <div class="paragraph">
            To date, there are 14 elephants living safely in the sanctuary. Those might be the luckiest elephants in the world, but we consider ourselves even luckier to have had this amazing opportunity to become their adoptive parents. 
            <br><br>
            Though we haven’t made the trip out to Thailand yet, the sanctuary also serves as a tourist destination for people to observe the elephants behaving like they would in nature. In conducting educational tours with expert guides, Samui aims to redefine the elephant tourism industry and promote the safe, humane interaction between elephants and people. 
            <br><br>
            The elephant adoption came to be as a holiday gift from CEO and cofounder Saul Tesser — a surprise of truly pachyderm proportions. The team watched in awe as Samui patched in via Zoom, looking on as the elephants dug into a cake made of bananas and watermelon slices. Drawn to the sanctuary for its mission and purpose, Saul realized that welcoming these gentle giants into our team was exactly the embodiment of what KCG stands for as a collective. 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-content ac-noPadding">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-9">
          <div class="ac-image">
            <img src="assets/about/world-thailand.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-content ac-nobottom">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-9">
          <div class="caption"><span>Why Elephants?</span></div>

          <h3 class="subtitle sb-right">"On the surface, there may seem like little connection between an elephant sanctuary and a global marketing and strategy collective."</h3>
          
          <div class="paragraph">
            Look a little deeper, and it becomes clear that becoming adoptive elephant parents perfectly aligns with the mission, vision and values of our (human) KCG family. 
            <br><br>
            As humans, it’s our responsibility to make the world a better place. We have the tools and skills at our disposal to do so — and at KCG, we make it our mission to leverage our capabilities for positive impact. Supporting organizations that share that same value is just one of the ways KCG strives to give back. We’re always looking for creative ways to further this mission, harnessing our diverse skill sets and technology for good. 
            <br><br>
            If you’ve ever been in the proximity of an elephant, you’ll begin to realize that these animals are incredibly intelligent and gentle. Better yet, they work together in the pursuit of common goals, and in the face of danger, leave no family member behind. Perhaps we’d all be a little better off if we adopted the mindset of elephants, working together to leave a positive impact on the world, no matter how big or small.  
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-content ac-journal">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-11">

          <div class="caption">
            <span>OUR UPDATES</span>
          </div>

          <div class="journal-list">
            <a href="about-giving-inner.html" class="item" data-color="orange">
              <div class="jl-wrapper">
                <img src="assets/journal/elephant-1.jpg" alt="" />
              </div>
              <div class="j-title">August 2022 update</div>
            </a>

            <a href="about-giving-inner.html" class="item" data-color="green">
              <div class="jl-wrapper">
                <img src="assets/journal/elephant-2.jpg" alt="" />
              </div>
              <div class="j-title">July 2022 update</div>
            </a>

            <a href="about-giving-inner.html" class="item" data-color="yellow">
              <div class="jl-wrapper">
                <img src="assets/journal/elephant-3.jpg" alt="" />
              </div>
              <div class="j-title">June 2022 update</div>
            </a>

          </div>
          
        </div>
      </div>
    </div>
  </div>


<!-- END SECTION -->

{% endblock %}