{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Salman Ahmed' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-4">
            <div class="people p-full">
              <img src="assets/about/people/salman.png" alt="" />
            </div>
          </div>
          <div class="col col-6">
            <h1 class="title"><strong>Salman Ahmed Titas</strong></h1>
            <div class="subtitle">Head of Technology</div>
            <div class="paragraph">
              Our Head of Technology, Salman Ahmed Titas, creates outstanding websites, web applications, and Android and iOS applications for a wide range of clients across industries. He applies over a decade of web development experience to his work, creating clean code and simultaneously managing a team of talented web developers. He is well-known for his holistic approach, in which he applies UX design, business acumen, and programming know-how to each project. This means every client benefits from his personalized strategic vision, focused on a truly user-friendly and well-built site. A highly motivated and driven person, Salman taught himself to code just by using the internet to research and learn.
            </div>
          </div>
        </div>
      </div>

    </div>


<!-- END SECTION -->



{% endblock %}