{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Gabrielle Broga' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Gabrielle Broga</strong></h1>
              <div class="subtitle">Head of Content </div>
              <div class="paragraph p-bigger">
                Gaby Brogan, Head of Content at King’s Crest Global, advises clients and manages the writing team, working together to deliver messages in a way that is captivating, vivid and engaging.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/gabrielle.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Positive, engaging, trailblazer</h3>

            <div class="paragraph">
              • Amplifies client voices strategically while managing the content writing team<br>
              • Strategic business and management consulting in finance<br>
              • Bachelor’s degree in Psychology
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              While currently based in Amsterdam, she utilizes both her creativity and expertise to develop innovative content for online engagement. Her degree in Psychology provides her with a keen understanding of how to best analyze audiences in order to capture the true essence of the client, while simultaneously amplifying the client’s voice strategically. She has several years of experience managing content strategy, which she refined during her tenure of working in both strategic consulting and marketing while based in the UK.<br><br>
            
              Gaby Brogan, Head of Content at Kings Crest Global, advises clients and manages the writing team, working together to deliver messages in a way that is captivating, vivid and engaging. She utilizes both her creativity and expertise to develop innovative content for online engagement. Her degree in Psychology provides her with a keen understanding of how to best analyze audiences in order to capture the true essence of the client, successfully building and creating blogs, email campaigns and everything else in between, which amplifies the client’s voice strategically. She has several years of experience managing content strategy, which she refined during her tenure of working in both strategic consulting and marketing while based in the UK.<br><br>
            
              After coming to the realization that she was seeking something more than what the corporate lifestyle has to offer, Gaby decided to take some time off to travel and, true to her entrepreneurial spirit, decided she would set up a freelance business of her own. She traveled around the world for one year, and once she landed in Amsterdam, where she’s currently based, with her newfound experiences and global vision, she did exactly that. She knows that for her the best surfaces when she’s being creative and independent, and when she came across the opportunity with Kings Crest Global it was a moment of alignment between her personal aspirations and an environment which allows her to flourish personally and professionally. <br><br>
            
              When it comes to Gaby’s professional superpower, there is undoubtedly more than one - for she is truly well adept at maintaining a positive attitude no matter what the problem and this genuineness is infectious. However, her reliability, as well as her creativity, are perhaps the superpowers which allow her to lead a team that strongly fulfills the client's needs. For her, it’s all about having the creative viewpoint, but knowing that the data has to shape the writing in a way that responds to the targeted audience, and translates into clicks and online engagement. Aside from Gaby’s professional endeavors, she enjoys reading, practicing yoga, and traveling, which she likes to do mindfully. She is always motivated to try anything new, whether it be jewelry making, macrame, or anything else creative, and she has developed a special affection for making hanging macrame plant holders.
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}