{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Cecilia Seiter' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Cecilia Seiter</strong></h1>
              <div class="subtitle">Writer</div>
              <div class="paragraph p-bigger">
                Cecilia Seiter, writer at King’s Crest Global, is an accomplished creative who helps our clients tell their stories and develop their brands through meaningful engagement with audiences across all content channels.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/cecilia.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Authentic, innovative, storyteller</h3>

            <div class="paragraph">
              • Creative problem solving, content creation, producing with a purpose<br>
              • Mission-driven brand identity development<br>
              • BS in Journalism and Public Relations
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              She made the bold decision to pursue her lifelong passion for writing while working at a post-production studio in Los Angeles, CA, where she produced and coordinated motion graphics projects. She previously worked at a PR firm after graduating with a degree in Journalism and Public Relations, then eventually began to work as a writer and even wrote a book - she’s now a published author. Her core value is “to do everything with love or positive intentions - assume the best in everyone.” For her, it’s about realizing how the work we do truly impacts the businesses we work with because there is always a “why.”<br><br>
            
              Cecilia Seiter, writer at King’s Crest Global, is an accomplished creative who helps our clients tell their stories and develop their brands through meaningful engagement with audiences across all content channels. She made the bold decision to pursue her lifelong passion for writing while working at a post-production studio in Los Angeles, CA, where she produced and coordinated motion graphics projects. Having already worked at a PR firm after graduating with a degree in Journalism and Public Relations, it was while traveling in Colombia on assignment that she experienced a moment of clarity and realized that she wanted to become a writer while traveling the world. She immediately began to work as a writer and even wrote a book - she’s now a published author.<br><br>
            
              Cecilia strongly believes in the importance of approaching everything with emotion. Her core value is “to do everything with love or positive intentions - assume the best in everyone.” For her, it’s about realizing how the work we do truly impacts the businesses we work with because there is always a “why.” After working in high pressure work environments, she has crafted the superpower of knowing how to bring lightness into situations through her keen sense of humor and problem-solving skills to make the work truly enjoyable for everyone. <br><br>
            
              Originally from Germany, she currently lives in LA, where she enjoys running, shuffle dancing, and longboarding by the Pacific Ocean when she’s not busy doing meaningful work for impact. 
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}