{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Djordje Jovanovic' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-4">
            <div class="people p-full">
              <img src="assets/about/people/djordje.png" alt="" />
            </div>
          </div>
          <div class="col col-6">
            <h1 class="title"><strong>Djordje Jovanovic</strong></h1>
            <div class="subtitle">Designer & Developer</div>
            <div class="paragraph">
              Both a Designer and Developer at King’s Crest Global, Djordje Jovanovic works closely with the development team to build websites using client responses and feedback, create assets for design and web development, and produce a broad range of design-based creative for the clients. With a bachelor’s degree in Engineering and a master’s degree in Mechanical Engineering for Automation from Belgrade, Serbia, he has merged his early technical background and expertise in design to progressively transition from design to a front-end development career. Aside from his work with KCG, he is also a Mechanical Engineer with training in automation and working in the field of HVAC.
            </div>
          </div>
        </div>
      </div>

    </div>


<!-- END SECTION -->



{% endblock %}