{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Salman Ahmed' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Salman Ahmed</strong></h1>
              <div class="subtitle">Head of Technology</div>
              <div class="paragraph p-bigger">
                Our Head of Technology, Salman Ahmed Titas, creates outstanding websites, web applications, and Android and iOS applications for a wide range of clients across industries.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/salman.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Strategic, holistic, precise</h3>

            <div class="paragraph">
              • 10+ years experience in Web Development<br>
              • Bachelor’s Degree in Computer Science and Engineering<br>
              • Master’s Degree in Software Engineering
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              He applies over a decade of web development experience to his work, creating clean code and simultaneously managing a team of talented web developers. He is well-known for his holistic approach, in which he applies UX design, business acumen, and programming know-how to each project. This means every client benefits from his personalized strategic vision, focused on a truly user-friendly and well-built site. A highly motivated and driven person, Salman taught himself to code just by using the internet to research and learn.<br><br>
            
              Our Head of Technology, Salman Ahmed Titas, creates outstanding websites, web applications, and Android and iOS applications for a wide range of clients across industries. He applies over a decade of web development experience to his work, creating clean code and simultaneously managing a team of talented web developers. He is well-known for his holistic approach, in which he applies UX design, business acumen, and programming know-how to each project. This means every client benefits from his personalized strategic vision, focused on a truly user-friendly and well-built site. <br><br>

              A highly motivated and driven person, Salman taught himself to code just by using the internet to research and learn. He began working as a freelancer and developed both his coding skills and teamwork skills in this environment, too. He has a Bachelor’s Degree in Computer Science and Engineering from the National University of Bangladesh and a Master’s Degree in Software Engineering from Jahangirnagar University, Bangladesh. While attending university, Salman pioneered and organized events that invited well-known tech industry thought leaders to come in and speak to the students, in a style similar to TED-Talks. <br><br>

              Salman is, above all, an adrenaline junkie. He loves to travel and can often be found jumping from planes and off large cliffs with parachutes and hang gliders. He enjoys photography and science fiction movies. He is based in Dhaka, Bangladesh.            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}