{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Waqas Zafar' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}

<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Waqas Zafar</strong></h1>
              <div class="subtitle">Lead Software Quality Assurance Engineer</div>
              <div class="paragraph p-bigger">
                Waqas Zafar is the Lead Software Quality Assurance Engineer (SQAE) at King’s Crest Global, always ensuring the quality of the applications our team builds, and delivering highly functional and user-friendly apps to our client base.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/waqas.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Precise, Motivated, Investigator</h3>

            <div class="paragraph">
              • Conducting in-depth analysis to provide high quality applications to KCG clients<br>
              • Specializations in testing various platforms and browsers<br>
              • Degree in Computer Science
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              With 7+ years of experience as an SQAE and a bachelor’s degree in Computer Science, Waqas has substantial experience working with e-commerce sites, such as Shopify, and extensive application testing experience on various platforms and browsers. Precision is key and he knows how to conduct in-depth analysis when testing for functionality issues, guiding the team to find the ideal solution when necessary. This often involves multiple layers of functional and technical testing yet he is always willing to do what it takes to deliver the highest quality product to the customer.<br><br>

              Originally from Lahore, Pakistan, Waqas is motivated and feels he has many goals to achieve. With his proven experience as an SQAE, he has ventured into testing social applications and gaming platforms, demonstrating a true passion for technology. It is clear that his professional superpower is being a motivated and disciplined software developer with a keen eye for detail - hence his ultimate success as an SQAE. This also influences his ability to manage projects as efficiently as possible while handling multiple global projects. Time management is crucial for him and he is confident in his ability to meet client deadlines and produce valuable deliverables that either satisfy or exceed client expectations.
              When Waqas takes a break from his dynamic projects, he loves to play cricket, watch movies and surf the net. He also likes to be informed about global happenings and enjoys reading about international news. 
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}