{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Saul Tesser' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Saul Tesser</strong></h1>
              <div class="subtitle">Founder & CEO</div>
              <div class="paragraph p-bigger">
                Saul Tessler is the founder and CEO of King’s Crest Global.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/saul.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Curious, disruptive, visionary</h3>

            <div class="paragraph">
              • Over 25 years of experience working with companies from Google X to BarkBox<br>
              • Leading expert in strategy, entrepreneurship and technology management<br>
              • Professor of Digital Business and Entrepreneurship at the University of Barcelona <br>
              • MA Conducting, The Juilliard School; MBA, Wharton; MSE, Technology Management, University of Pennsylvania & Wharton 
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              He guides the company with 25+ years of experience across a wide range of sectors including strategy, entrepreneurship and technology management. His notable work includes strategic roles with Google X, BarkBox, LearnLight and Oppenheimer Funds. Saul can often be found teaching digital entrepreneurship at the University of Barcelona, and applying his expertise to help our clients solve startup and scaling problems, giving them the confidence to focus on what makes them unique.<br><br>
            
              Saul Tessler is the founder and CEO of Kings Crest Global. His mission is to ensure that we solve our client’s problems in unique and unexpected ways, continuously helping them to make the world a better place. He is motivated by crafting a company culture that centers on happiness; a diverse team of talented people, delivering meaningful work with passion and joy. In addition to his work as CEO, Saul applies his expertise to help clients solve startup and scaling problems, giving them the confidence (and the precious time!) to focus on what makes them unique.<br><br>
            
              “I don’t know what I want to be when I grow up” is a phrase that has defined Saul’s professional journey; a ceaseless curiosity that has inspired him to confidently create new business ventures time and time again. With a master’s in Conducting from Juilliard and multimedia training from Harvard, his first forward-thinking business venture was to combine the world of digital with music, creating ways to transcribe musical scores onto computers. Captivated by the potential of the online space, he then launched one of the first online portals for students to find and rent student properties. This was his introduction to the world of startups, which took him across the startup scene. He then developed his corporate expertise and worked on Wall Street for one of the second largest funds in the United States, before moving to Barcelona to teach entrepreneurship at the college level. <br><br>
            
              Connecting with such a wide range of brilliant international thinkers while working as a professor sparked Saul’s idea for Kings Crest Global, and so he began building the company’s international team of experts. Saul’s varied, textured and unique life enables him to deliver truly unique perspectives on business, and that is only further supported by his empathetic approach. Saul can always be found exploring new ideas, new countries and new concepts, regularly taking the road less travelled to get there, and picking up unique experiences along the way. 
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}