{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Marjorie Vera' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-4">
            <div class="people p-full">
              <img src="assets/about/people/marjorie.png" alt="" />
            </div>
          </div>
          <div class="col col-6">
            <h1 class="title"><strong>Marjorie Vera</strong></h1>
            <div class="subtitle">Copywriter</div>
            <div class="paragraph">
              Marjorie is a highly efficient and imaginative writer working on the King’s Crest Global team. Her experience is wide-ranging, meaning that she effortlessly specializes in both corporate and creative content (often blending the two worlds!). Currently based in Spain, Marjorie applies her expert eye to achieve meaningful engagement with our client’s target audiences. Vastly multifaceted, Marjorie thrives when busy with diverse projects and passions. While living in New York, she simultaneously managed a corporate career and a career as a semi-professional dancer. Her business background, working for a privately held Spanish-language media company, enabled her to develop expertise in corporate legal assistance, marketing, and finance.
            </div>
          </div>
        </div>
      </div>

    </div>


<!-- END SECTION -->



{% endblock %}