{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | August 2021' %}
{% set page         = 'about-giving' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-work">
      <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col col-1">
              <a href="about-giving.html" class="button b-black b-icon">
                <div class="wrapper">
                  <div class="arrow svg a-left"></div>
                </div>
              </a>
            </div>
            <div class="col col-10">
              <h1 class="title"><strong>August 2022 update</strong></h1>
            </div>
          </div>
      </div>
    </div>

    <div class="works-content no-padding">
      <img class="image" src="assets/giving/webdoor.jpg" alt="">
    </div>

    <div class="works-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-4">
            <div class="details">
              <span>YEAR</span><br>
              2020
            </div>
            <div class="details">
              <span>Month</span><br>
              August
            </div>
            <div class="details">
              <span>Elephants</span><br>
              John, Leon and Luna
            </div>
          </div>
          <div class="col col-4">
            <div class="paragraph p-bigger">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pulvinar massa sit amet tempor feugiat.
            </div>
            <div class="paragraph">
              Curabitur eleifend varius quam vel egestas. Phasellus vestibulum posuere enim, ac eleifend est semper ac. Donec tristique ipsum non mi molestie consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc at aliquam dui. Nullam vel enim eu tellus hendrerit aliquam. Phasellus semper lorem eros, vel varius tellus commodo in. Ut eu ante dictum, tempor nisl nec, pulvinar leo. Maecenas hendrerit justo a dictum elementum. Nunc dictum luctus sollicitudin. Nullam vestibulum massa vel interdum imperdiet.
            </div>
            <div class="paragraph">
              Nulla sed mauris turpis. Praesent vitae varius massa, eu sodales enim. Phasellus rhoncus leo eu felis tincidunt sollicitudin. Fusce laoreet, mi non commodo aliquet, quam eros finibus sapien, ac lacinia orci elit sed felis. Sed dapibus, turpis a blandit accumsan, felis nisi varius leo, eu euismod erat ligula ut diam.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="works-content no-padding">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-10">
            <div class="gallery">
              <div class="slides">
                <div class="item">
                  <img src="assets/giving/image-1.jpg" alt="" />
                  <div class="gl-sbtitle">Lorem Ipsum</div>
                </div>
                <div class="item">
                  <img src="assets/giving/image-2.jpg" alt="" />
                  <div class="gl-sbtitle">Lorem Ipsum</div>
                </div>
                <div class="item">
                  <img src="assets/giving/image-1.jpg" alt="" />
                  <div class="gl-sbtitle">Lorem Ipsum</div>
                </div>
                <div class="item">
                  <img src="assets/giving/image-2.jpg" alt="" />
                  <div class="gl-sbtitle">Lorem Ipsum</div>
                </div>

              </div>

              <div class="button b-black b-icon t-prev">
                <div class="wrapper">
                  <div class="arrow svg a-left"></div>
                </div>
              </div>
          
              <div class="button b-black b-icon t-next">
                <div class="wrapper">
                  <div class="arrow svg a-right"></div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="works-content no-padding">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-10">
            <div class="video-play" data-youtube="GbbxxPR4Fho">
              <div class="wrapper">
                <img src="assets/giving/video.jpg" alt="" />
                <div class="ico i-play svg"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-content ac-journal ac-border">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-11">

            <div class="caption">
              <span>OUR UPDATES</span>
            </div>

            <div class="journal-list">
              <div href="journal-inner-1.html" class="item" data-color="orange">
                <div class="jl-wrapper">
                  <img src="assets/journal/elephant-1.jpg" alt="" />
                </div>
                <div class="j-title">August 2022 update</div>
              </div>

              <div href="journal-inner-2.html" class="item" data-color="green">
                <div class="jl-wrapper">
                  <img src="assets/journal/elephant-2.jpg" alt="" />
                </div>
                <div class="j-title">July 2022 update</div>
              </div>

              <div href="journal-inner-3.html" class="item" data-color="yellow">
                <div class="jl-wrapper">
                  <img src="assets/journal/elephant-3.jpg" alt="" />
                </div>
                <div class="j-title">June 2022 update</div>
              </div>

            </div>
            
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->

{% endblock %}