{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Rita Dias' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-4">
            <div class="people p-full">
              <img src="assets/about/people/nicolai.png" alt="" />
            </div>
          </div>
          <div class="col col-6">
            <h1 class="title"><strong>Nicolai Gheorghiev</strong></h1>
            <div class="subtitle">System AWS Administrator</div>
            <div class="paragraph">
              Nicolai Gheorghiev, System AWS Administrator at King’s Crest Global, has always had an unmistakable passion for navigating systems, which began with his dream of one day becoming a pilot. He studied engineering in the Republic of Moldova and chose to specialize in Management of Radio and Electronics, which piqued his interest in technology, and provided a segue into learning more about the vast world of computing technologies. Eventually, he discovered his career path as a system administrator, which he felt was similar to being a pilot in how you navigate through the entire operating system. What distinguishes him is his empathetic nature, his keen ability to problem solve, and the fact that he is a change-driven professional. He is a person who is willing to take on the challenge no matter how ambitious it may be.
            </div>
          </div>
        </div>
      </div>

    </div>


<!-- END SECTION -->



{% endblock %}