{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Cem Celik' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}

<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Cem Celik</strong></h1>
              <div class="subtitle">Technical Manager</div>
              <div class="paragraph p-bigger">
                Cem Celik, Technical Manager at King’s Crest Global, is a software engineer with a strong background in project management.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/cem.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Inspired, Inventive, Visionary</h3>

            <div class="paragraph">
              • Software architect and engineer, project manager, and filmmaker<br>
              • Provides technical and consulting expertise in web-based bespoke software solutions with a heavy emphasis on designing solid creative solutions<br>
              • Degree in Business and Finance
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              In his dual role at KCG, he drives potential new projects and works closely with the sales division as a tech consultant, contributing his high level knowledge by providing bespoke solutions. Once a new project has been established, he collaborates with the lead project manager to keep the projects fluid. With a diverse background in business and finance, as well as computing, he has worked for global large-scale companies, such as Sony Ericsson, NTL, RBS, and Innocent Drinks.<br><br>

              Originally from Turkey, Cem previously worked for NATO and the military. After finishing his service, he moved to England to study technology, then immediately began building applications and computers, a lifelong interest of his. Soon after, he began working as a full-time web developer and since then he has been involved in many sizable projects in the UK. However, in early 2009 he left the tech space to move to Mallorca and become a film producer. After having previously worked for the BBC in Turkey, he already had some knowledge of film, and an opportunity to acquire a production company had presented itself. True to his diverse and creative nature, he quickly acclimated himself and confidently began to oversee company management. He currently manages a team that mostly focuses on shooting fashion commercials. <br><br>

              Within the last four years, Cem became inspired to revisit his passion for technology. Although he has always been technical and essentially demonstrated a preference for machines over humans, he is also very human-oriented. Coming from a creative family, he understands the essence of what it means to be creative. Over the years while developing new tech solutions, he came to the realization that they were all creative designs - this is exactly what an artist does: they invent creative solutions. Cem’s professional superpower is finding optimal creative solutions that become a blueprint for his collaborators to bring a vision to life while always providing seamless functionality.<br><br>

              Cem truly loves beautiful places and locations, Mallorca being one of them. He enjoys being a producer because he feels it's an opportunity to find and visit the best locations around the world. He loves road cycling, filmmaking and photography, and he has worked as a semi-professional photographer.
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}