{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Ksenija Prijovic' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Ksenija Prijovic</strong></h1>
              <div class="subtitle">CFO</div>
              <div class="paragraph p-bigger">
                Ksenija is Kings Crest Global’s Chief Financial Officer.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/ksenija.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Analytical, Precise, Engaging</h3>

            <div class="paragraph">
              • Operations and Finance management background<br>
              • 10+ years experience with remote work<br>
              • Finance and analytical expertise
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              With an analytical approach and excellent long-term vision, she applies a precise strategy to the finance department, with a focus on future growth for KCG and our clients. She also manages all aspects of client contracts and simultaneously liaises with project managers to forecast requirements and ensure plans run effectively. With a background in business, Ksenija has a degree in Accounting and Auditing. After completing her degree, she began working remotely for international companies, focusing her skills on providing results within analytics and finance. She has worked as both an Operations Analyst and an Operations Manager, which enabled her to gain experience with sales and marketing across the business, seeing how finance is interconnected with these diverse areas.<br><br>
            
              Ksenija is Kings Crest Global’s Chief Financial Officer. With an analytical approach and excellent long-term vision, she applies a precise strategy to the finance department, with a focus on future growth for KCG and our clients. She also manages all aspects of client contracts and simultaneously liaises with project managers to forecast requirements and ensure plans run effectively. <br><br>
            
              With a background in business, Ksenija has a degree in Accounting and Auditing. After completing her degree, she began working remotely for international companies, focusing her skills on providing results within analytics and finance. She has worked as both an Operations Analyst and an Operations Manager, which enabled her to gain experience with sales and marketing across the business, seeing how finance is interconnected with these diverse areas. Here, she learned the ins and outs of reporting, budgeting and forecasting, which she applies to her role at Kings Crest Global today. Her superpower is attention to detail - with an eagle eye, Ksenija is well known for being able to spot issues before they arise!<br><br>
            
              friendly approach to every aspect of her work. Ksenija is a lifelong traveler. When she isn’t traveling, she’s planning more travel! She can also be found exploring Serbia, where she is based. 
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}