{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Cecilia Seiter' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-4">
            <div class="people p-full">
              <img src="assets/about/people/cecilia.png" alt="" />
            </div>
          </div>
          <div class="col col-6">
            <h1 class="title"><strong>Cecilia Seiter</strong></h1>
            <div class="subtitle">Copywritter</div>
            <div class="paragraph">
              Cecilia Seiter, writer at King’s Crest Global, is an accomplished creative who helps our clients tell their stories and develop their brands through meaningful engagement with audiences across all content channels. She made the bold decision to pursue her lifelong passion for writing while working at a post-production studio in Los Angeles, CA, where she produced and coordinated motion graphics projects. She previously worked at a PR firm after graduating with a degree in Journalism and Public Relations, then eventually began to work as a writer and even wrote a book - she’s now a published author. Her core value is “to do everything with love or positive intentions - assume the best in everyone.” For her, it’s about realizing how the work we do truly impacts the businesses we work with because there is always a “why.”
            </div>
          </div>
        </div>
      </div>

    </div>


<!-- END SECTION -->



{% endblock %}