{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Nazifa Rashid' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}

<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Nazifa Rashid</strong></h1>
              <div class="subtitle">Front End Developer</div>
              <div class="paragraph p-bigger">
                Nazifa Rashid, Front End Developer at King’s Crest Global, collaborates with the development team to provide website UI/UX design.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/nazifa.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Analytical, Creative, Achiever</h3>

            <div class="paragraph">
              • Working with global teams to provide specialized UI/UX design<br>
              • Highly creative developer and collaborator who values efficacy<br>
              • Degree in Computer Science Engineering 
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              She specializes in UI/UX development, as well as javascript and front end technologies. Her role requires collaborating with designers on development, as well as site analysis research that she applies to the development phase. Having studied Computer Science Engineering in Bangladesh, she started her career as a front end developer while starting her fourth year of university studies. She is currently collaborating with several global teams both remotely and in person.<br><br>

              Prior to working with KCG, Nazifa collaborated with U.S.-based entities, such as Janssen Pharmaceuticals and SJ Innovation as a senior resource of Janssen Pharmaceuticals, and familiarized herself with the U.S. market as a front end developer. She has received several awards as performer of the month, as well as employee of the month. Working with global teams has absolutely refined her professional superpower of multitasking and overall efficacy - she can easily shift focus and absorb new information, which helps with her ability to manage working on several different projects while skillfully collaborating. She takes pride in the work she achieves because she understands that UI/UX is the first experience a person has when visiting a new website from different devices, and, therefore, you must get it right the first time. In her own words, “You must get it right at the first glance because it has such a lasting impact.”<br><br>

              During her free time, she likes traveling, shopping, and going out with friends. She is always ready to explore something new so she makes it a point to go somewhere special on the weekends. She truly values the opportunity to disconnect from work responsibilities and enjoy her “me time” to give herself a chance to recharge. She also likes cycling, and she loves to eat junk food - burgers, pizzas, etc. She engages her creative side through drawing, painting, and anything else related to arts and crafts. 
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}