{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Praveen Saini' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-4">
            <div class="people p-full">
              <img src="assets/about/people/praveen.png" alt="" />
            </div>
          </div>
          <div class="col col-6">
            <h1 class="title"><strong>Praveen Saini</strong></h1>
            <div class="subtitle">Developer</div>
            <div class="paragraph">
              Praveen is an expert developer on the KCG team. He works on website development and maintenance projects, ensuring that sites continue to function flawlessly over time. Extending the features and functionality of the site is also a key element of his work, enabling brands to continuously update their messaging with new forms, carousels, pop-ups and more. With over four years of experience working specifically with Drupal, an open-source web content management framework, Praveen is a trusted expert in this area of web development. His professional experience has been developed over years of working for tech companies, each time building his skillset and ability to operate seamlessly as part of a team.
            </div>
          </div>
        </div>
      </div>

    </div>


<!-- END SECTION -->



{% endblock %}