{% extends "./layouts/main.njk" %}
{% set title        = 'KCG' %}
{% set page         = 'about-giving' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->
{# <section class="section-content"> #}

<div class="smooth-scroll" data-scroll-content>

  <div class="webdoor w-about">
    <div class="submenu sb-white">
      <a href="about.html" class="item"><span>ABOUT</span></a>
      <a href="about-mission.html" class="item"><span>MISSION</span></a>
      <a href="about-team.html" class="item"><span>TEAM</span></a>
      <a href="about-giving.html" class="item active"><span>GIVING</span></a>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-10">
          <h1 class="title t-medium t-center"><strong>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit. Nam<br>a ornare leo.</strong></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="about-content ac-notop">
    <div class="ac-image">
      <img src="assets/about/elephants.jpg" />
    </div>
  </div>

  <div class="about-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-9">
          <div class="caption"><span>Lorem Ipsum</span></div>

          <h3 class="subtitle sb-right">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci tellus, aliquet ut volutpat vitae, luctus eu nibh. Phasellus consequat varius massa sodales mattis"</h3>
          
          <div class="paragraph">
            Donec eu sodales nisl, vel ornare quam. Aenean id aliquet enim. Mauris in consectetur metus. Mauris eleifend imperdiet augue. Duis a lectus sed magna volutpat rhoncus. Etiam ornare nisl molestie ultrices pharetra. Cras laoreet, quam a rutrum pretium, nulla felis imperdiet nulla, eu tincidunt nibh ante a mauris.<br><br>
            Sed eu tincidunt erat. Sed vestibulum urna quis arcu scelerisque, maximus ornare odio aliquam. Vestibulum ac tortor quis libero luctus scelerisque. Praesent tincidunt elit at consectetur tincidunt. Fusce vitae lacus auctor, sodales velit id, cursus lorem. Duis tristique vulputate arcu, eget rutrum massa. 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-content ac-noPadding">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-9">
          <div class="ac-image">
            <img src="assets/about/world-thailand.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-content ac-journal">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-11">

          <div class="caption">
            <span>OUR UPDATES</span>
          </div>

          <div class="journal-list">
            <div href="journal-inner-1.html" class="item" data-color="orange">
              <div class="jl-wrapper">
                <img src="assets/journal/elephant-1.jpg" alt="" />
                <div class="jl-pointer">
                  <div class="ico i-play svg"></div>
                </div>
              </div>
              <div class="j-title">August 2022 update</div>
            </div>

            <div href="journal-inner-2.html" class="item" data-color="green">
              <div class="jl-wrapper">
                <img src="assets/journal/elephant-2.jpg" alt="" />
                <div class="jl-pointer">
                  <div class="ico i-play svg"></div>
                </div>
              </div>
              <div class="j-title">July 2022 update</div>
            </div>

            <div href="journal-inner-3.html" class="item" data-color="yellow">
              <div class="jl-wrapper">
                <img src="assets/journal/elephant-3.jpg" alt="" />
                <div class="jl-pointer">
                  <div class="ico i-play svg"></div>
                </div>
              </div>
              <div class="j-title">June 2022 update</div>
            </div>
            <div href="journal-inner-1.html" class="item" data-color="orange">
              <div class="jl-wrapper">
                <img src="assets/journal/elephant-1.jpg" alt="" />
                <div class="jl-pointer">
                  <div class="ico i-play svg"></div>
                </div>
              </div>
              <div class="j-title">May 2022 update</div>
            </div>

            <div href="journal-inner-2.html" class="item" data-color="green">
              <div class="jl-wrapper">
                <img src="assets/journal/elephant-2.jpg" alt="" />
                <div class="jl-pointer">
                  <div class="ico i-play svg"></div>
                </div>
              </div>
              <div class="j-title">April 2022 update</div>
            </div>

            <div href="journal-inner-3.html" class="item" data-color="yellow">
              <div class="jl-wrapper">
                <img src="assets/journal/elephant-3.jpg" alt="" />
                <div class="jl-pointer">
                  <div class="ico i-play svg"></div>
                </div>
              </div>
              <div class="j-title">March 2022 update</div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

{# </section> #}
<!-- END SECTION -->

{% endblock %}