{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Praveen Saini' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Praveen Saini</strong></h1>
              <div class="subtitle">Developer</div>
              <div class="paragraph p-bigger">
                Praveen is an expert developer on the KCG team.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/praveen.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Technical, Precise, Detail-Oriented</h3>

            <div class="paragraph">
              • 4+ years Drupal fullstack expertise <br>
              • Masters in Computer Applications<br>
              • Bachelors in Computer Applications 
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              He works on website development and maintenance projects, ensuring that sites continue to function flawlessly over time. Extending the features and functionality of the site is also a key element of his work, enabling brands to continuously update their messaging with new forms, carousels, pop-ups and more. With over four years of experience working specifically with Drupal, an open-source web content management framework, Praveen is a trusted expert in this area of web development. His professional experience has been developed over years of working for tech companies, each time building his skillset and ability to operate seamlessly as part of a team.<br><br>
            
              Praveen is an expert developer on the KCG team. He works on website development and maintenance projects, ensuring that sites continue to function flawlessly over time. Extending the features and functionality of the site is also a key element of his work, enabling brands to continuously update their messaging with new forms, carousels, pop-ups and more.<br><br>

              With over four years of experience working specifically with Drupal, an open-source web content management framework, Praveen is a trusted expert in this area of web development. His professional experience has been developed over years of working for tech companies, each time building his skillset and ability to operate seamlessly as part of a team. Praveen has a master’s degree in Computer Applications. He is particularly skilled at strategic, long-term thinking, which enables him to assess the true impact of his tasks. When he changes or adapts a piece of code, he leverages this skill to make sure it’s the right long-term solution. <br><br>

              When he’s not working, Praveen can be found hiking and exploring India’s areas of natural beauty with his friends. With a family background in the Indian Navy, he has spent much of his life moving around India, exploring its many diverse coastal areas.
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}