{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Nathan Hemmingbrown' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Nathan Hemmingbrown</strong></h1>
              <div class="subtitle">Designer</div>
              <div class="paragraph p-bigger">
                Nathan Hemmingbrown, Designer at King’s Crest Global, is a veteran graphic designer who works on developing a broad spectrum of creative content for clients, ranging from pitch decks to web design and brochures.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/nathan.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Aesthetic, visualizer, inspired</h3>

            <div class="paragraph">
              • Content creator for print, web, digital, and UX/UI design projects<br>
              • Transforms client ideas into visual stories and comprehensible information<br>
              • Bachelor of Arts with honors in Graphic Design
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              What he enjoys most about working in this capacity is receiving conceptual ideas from clients, then translating them into very aesthetic pieces of content. He loves being given information and ideas, which he masterfully transforms into something sleek and digestible with his graphic touch. With 10+ years of experience, and a BA in Graphic Design, which he earned from the Plymouth College of Art and Design, he is currently Bristol-based and has been working in digital design for the last several years.<br><br>
            
              Nathan Hemmingbrown, Designer at King’s Crest Global, is a veteran graphic designer who works on developing a broad spectrum of creative content for clients, ranging from pitch decks to web design and brochures. What he enjoys most about working in this capacity is receiving conceptual ideas from clients, then translating them into very aesthetic pieces of content. He loves being given information and ideas, which he masterfully transforms into something sleek and digestible with his graphic touch. With 10+ years of experience, and a BA in Graphic Design, which he earned from the Plymouth College of Art and Design, he is currently Bristol-based and has been working in digital design for the last several years.<br><br>
            
              After graduating from university, Nathan moved to Cardiff, in Wales, where he landed his very first design job creating interactive educational games for kids. He has worked on developing print-based content, as well as typography and screen printing. After that, he moved to a design agency and became interested in shifting away from traditional forms of design, eventually fully transitioning to digital design. A defining life moment for Nathan occured when he was working at a design agency and noticed that he was consistently receiving excellent feedback on his digital design work. It was then that he realized this is where his true skill set lies. His professional superpower is his versatility, as well as his ability to jump from one project to another, all the while managing to deliver superior results.<br><br>
            
              When he is not busy sharing his creativity, he truly enjoys traveling. He recently bought a campervan, which he enjoys using to explore new places. He is planning a road trip around continental Europe soon. He also loves being in nature, hiking, playing football, and cycling.
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}