{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Nathan Hemmingbrown' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-4">
            <div class="people p-full">
              <img src="assets/about/people/nathan.png" alt="" />
            </div>
          </div>
          <div class="col col-6">
            <h1 class="title"><strong>Nathan Hemmingbrown</strong></h1>
            <div class="subtitle">Designer</div>
            <div class="paragraph">
              Nathan Hemmingbrown, Designer at King’s Crest Global, is a veteran graphic designer who works on developing a broad spectrum of creative content for clients, ranging from pitch decks to web design and brochures. What he enjoys most about working in this capacity is receiving conceptual ideas from clients, then translating them into very aesthetic pieces of content. He loves being given information and ideas, which he masterfully transforms into something sleek and digestible with his graphic touch. With 10+ years of experience, and a BA in Graphic Design, which he earned from the Plymouth College of Art and Design, he is currently Bristol-based and has been working in digital design for the last several years.
            </div>
          </div>
        </div>
      </div>

    </div>


<!-- END SECTION -->



{% endblock %}