{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Liviu Stefan' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Liviu Stefan</strong></h1>
              <div class="subtitle">Head of PPC and SEO</div>
              <div class="paragraph p-bigger">
                Liviu Stefan is Kings Crest Global’s talented PPC and lead generation expert.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/liviu.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Proactive, Strategic, Sales-Focused</h3>

            <div class="paragraph">
              • 10+ years of PPC and Digital Marketing experience<br>
              • Master’s in Marketing from the Faculty of Economics and Business Administration, Iasi<br>
              • Lead generation expert
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              He works with clients to craft and manage impactful, vivid advertising campaigns in the digital space. Liviu has a Master’s degree in Marketing and an entrepreneurial approach to his work, strategizing in order to achieve growth for each new project he takes on. With over ten years of experience working in SEO and PPC, he is also incredibly confident and experienced in working with international clients across a broad range of sectors. He enjoys getting to know a client’s company and working to make their sales skyrocket.<br><br>
            
              Liviu Stefan is Kings Crest Global’s talented PPC and lead generation expert. He works with clients to craft and manage impactful, vivid advertising campaigns in the digital space. These campaigns help companies to generate more leads and connect with their audience, achieving engagement across Facebook ads, Google ads, Bing, Linkedin and more. Liviu has a Master’s degree in Marketing and an entrepreneurial approach to his work, strategizing in order to achieve growth for each new project he takes on.<br><br>
            
              With over ten years of experience working in SEO and PPC, Liviu is also incredibly confident and experienced in working with international clients across a broad range of sectors. He enjoys getting to know a client’s company and working to make their sales skyrocket. His superpower is analyzing the data about campaigns and using that to shape his ongoing strategies, meaning that all activity is rooted in data. In his spare time, Liviu can be found diving into books about history, psychology and philosophy. He’s a lifelong learner. 
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}