{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Saul Tesser' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-4">
            <div class="people p-full">
              <img src="assets/about/people/saul.png" alt="" />
            </div>
          </div>
          <div class="col col-6">
            <h1 class="title"><strong>Saul Tesser</strong></h1>
            <div class="subtitle">Founder & CEO</div>
            <div class="paragraph">
              Saul Tessler is the founder and CEO of King’s Crest Global. His vision centers on happiness; building a tight-knit collective of disruptive, strategic innovators, that delivers deep insights, empowering guidance and intelligent strategy. He guides the company with 25+ years of experience across a wide range of sectors including strategy, entrepreneurship and technology management. His notable work includes strategic roles with OpenSky, LearnLight and Oppenheimer Funds. Saul can often be found teaching digital entrepreneurship at The Barcelona School of Technology, and applying his expertise to help our clients solve startup and scaling problems, giving them the confidence to focus on what makes them unique.
            </div>
          </div>
        </div>
      </div>

    </div>


<!-- END SECTION -->



{% endblock %}