{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Rita Dias' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Rita Dias</strong></h1>
              <div class="subtitle">Project Manager</div>
              <div class="paragraph p-bigger">
                Rita Dias, Project Manager, is the bridge who connects our clients with the globally-based expert team of business professionals here at King’s Crest Global.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/rita.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Meticulous, supportive, motivated</h3>

            <div class="paragraph">
              • Website development and client engagement<br>
              • Project management, leadership, and activism<br>
              • Master’s in Public Policy
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              While she currently focuses her expertise on team management and website development for some of our top clients, she also has a substantial background working in activism. She studied political science and international relations while achieving her Master’s degree in Public Policy, and she previously worked at the US Embassy in Lisbon, Portugal. With all that she offers through her impeccable sense of time management and her unique approach to problem-solving, Rita truly believes that “the more diverse a background you have, the more value you can deliver.” She is always ready to embrace new challenges since she sees herself working long-term with diverse teams.<br><br>
            
              Rita Dias, Project Manager, is the bridge who connects our clients with the globally-based expert team of business professionals here at Kings Crest Global. While she currently focuses her expertise on team management, as well as website development for some of our top clients, she also has a substantial background working in activism, having studied political science and international relations while achieving her Master’s degree in Public Policy. She previously worked at the US Embassy in Lisbon, Portugal, and wrote her thesis answering the question: “How can non-governmental organizations influence public policies?” She has spearheaded projects defending the rights of international students, and organized scholarships and conferences for the LGBTQ community.<br><br>

              With all that she offers through her impeccable sense of time management and her unique approach to problem-solving, Rita truly believes that “the more diverse a background you have, the more value you can deliver.” Through the volunteer work she has engaged in professionally and the volunteer team she continues to manage in addition to managing the team at Kings Crest Global, she has learned that achieving the work-life balance is vital to her success. She is both motivated to keep learning and driven to continue defending the many causes she believes in because, in her own words, “you don’t defend just one cause, you defend many.” She is always ready to embrace new challenges since she sees herself working long-term with diverse teams. <br><br>

              When she’s not busy advocating for the causes she believes in, or being an outstanding business manager and leader, she spends her time learning mixology and experimenting with creating delicious craft cocktails. She also loves to travel around the world.
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}