{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Nicolai Gheorghiev' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Nicolai Gheorghiev</strong></h1>
              <div class="subtitle">System AWS Administrator</div>
              <div class="paragraph p-bigger">
                Nicolai Gheorghiev, System AWS Administrator at King’s Crest Global, has always had an unmistakable passion for navigating systems, which began with his dream of one day becoming a pilot.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/nicolai.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Proactive, patient, collaborative</h3>

            <div class="paragraph">
              • Expertise in IT management and system administration<br>
              • Systems analysis and creative problem-solving<br>
              • Degree in Engineering
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              He studied engineering in the Republic of Moldova and chose to specialize in Management of Radio and Electronics, which piqued his interest in technology, and provided a segue into learning more about the vast world of computing technologies. Eventually, he discovered his career path as a system administrator, which he felt was similar to being a pilot in how you navigate through the entire operating system. What distinguishes him is his empathetic nature, his keen ability to problem solve, and the fact that he is a change-driven professional. He is a person who is willing to take on the challenge no matter how ambitious it may be.<br><br>
            
              Nicolai Gheorghiev, System AWS Administrator at Kings Crest Global, has always had an unmistakable passion for navigating systems, which began with his dream of one day becoming a pilot. He studied engineering in the Republic of Moldova and chose to specialize in Management of Radio and Electronics because this both piqued his interest in technology and coincided with his personal goals. It was during this time that he began learning more about the vast world of computing technologies and eventually discovered his career path as a system administrator, which he felt was similar to being a pilot in how you navigate through the entire operating system.<br><br>

              While Nicolai admits that such work can be extremely demanding, he deeply understands the importance of patience and has mastered the art of being proactive by anticipating threats before they become real-time issues. He once had a former boss emphasize the importance of working as an IT administrator, telling “If you don’t do your job well, nobody will be able to work,” and this has had a profound impact on his approach to the value of teamwork and precision in his job. He understands that there are many talented people in the industry, but what distinguishes him from the rest is his empathetic nature and very human qualities, such as honesty, his keen ability to problem solve, and the fact that he is a change-driven professional. He is a person who is willing to take on the challenge no matter how ambitious it may be.<br><br>

              Aside from his tech career and capabilities, he is also an avid football player who participates in weekly amateur competitions. He is very interested in finance and management, and continues to indulge his passion for flight through flight-simulation games.

            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}