{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Andrea Djordjevic' %}
{% set page         = 'about-person' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

  <div class="scrolldown">
    <span>MORE</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-person">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="about-team.html" class="button b-black b-icon">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-5">
            <div class="infos">
              <h1 class="title"><strong>Andrea Djordjevic</strong></h1>
              <div class="subtitle">Graphic & Web Designer</div>
              <div class="paragraph p-bigger">
                Andrea’s primary role at King’s Crest Global is web design and development.
              </div>
            </div>
          </div>
          <div class="col col-5">
            <div class="people p-full">
              <img src="assets/about/people/andrea.png" alt="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content abt-person">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1"></div>
          <div class="col col-5">
            <h3 class="subtitle">Imaginative, focused, explorer</h3>

            <div class="paragraph">
              • Creating professional, customized, branded print, web and social media content<br>
              • Involved in design at every level while ensuring efficiency in client deliverables<br>
              • Master’s in Architecture
            </div>

          </div>

          <div class="col col-5">
            <div class="paragraph">
              She genuinely appreciates the causes and ideas the company supports and enjoys her interactions with the clients, who she feels offer freedom to be creative through her work. With a Master’s degree in Architecture, she currently works both as a graphic designer and as an urban planner and architect, expanding infrastructure and creating city plans in Belgrade, Serbia. Through her role as an architect, she has truly grasped the essence of what it means to be knowledgeable in various steps of complicated processes that are necessary in both urban planning and web development. With this comes her great understanding of how to effectively execute in order to complete the job as precisely and efficiently as possible.<br><br>

              Andrea’s primary role at Kings Crest Global is web design and development, as well as developing branding materials and social media content for clients. She genuinely appreciates the causes and ideas the company supports and enjoys her interactions with the clients, who she feels offer freedom to be creative through her work.<br><br>
            
              With a Master’s degree in Architecture, she currently works both as a graphic designer and as an urban planner and architect, expanding infrastructure and creating city plans in Belgrade, Serbia. Through her role as an architect, she has truly grasped the essence of what it means to be knowledgeable in various steps of complicated processes that are necessary in both urban planning and web development. With this comes her great understanding of how to effectively execute in order to complete the job as precisely and efficiently as possible. Her current goal is to dive deeper into graphic design, and she is currently taking a step towards this objective by completing a UX design course. There is no doubt that multitasking is her superpower, as she juggles many projects with several clients, yet still manages to successfully balance it all.<br><br>
            
              Aside from the creative work Andrea does, she enjoys traveling so once a month she goes somewhere to keep herself motivated and recharge her batteries. She loves hanging out with friends and being out, and she’s also a big fan of seaside fun in the sun! She loves to read, though she has little time for it, and she also loves dogs. Her dog and her boyfriend have the same name, although she had named her dog before they had met. 
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- END SECTION -->



{% endblock %}