{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Buzz' %}
{% set page         = 'buzz' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<div class="smooth-scroll" data-scroll-content>

  <div class="webdoor w-press">
    
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-10">
          <div class="caption c-center">
            <span>The Buzz</span>
          </div>
          <h1 class="title t-medium t-center" ><strong>These people are talking about us</strong></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="filter">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-11">
          <a href="" class="item active"><span>All Categories</span></a>
          <a href="" class="item"><span>Facebook</span></a>
          <a href="" class="item"><span>Instagram</span></a>
          <a href="" class="item"><span>Linkedin</span></a>
          <a href="" class="item"><span>Twitter</span></a>
          <a href="" class="item"><span>Others</span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="press-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-11">
          <div class="press-list">
        
            <a href="https://www.prnewswire.com/news-releases/how-digital-strategy-agency-kings-crest-global-grew-despite-the-pandemic-301311605.html" class="item" data-type="link" target="blank">
              <div class="i-wrapper">
                <div class="p-title">How Digital Strategy Agency Kings Crest Global Grew Despite The Pandemic</div>
                <div class="paragraph">
                  This team of marketers, designers, writers, entrepreneurs, and business strategists transverse global boundaries to help their clients build a better world.
                  <b>Read Full Story...</b>
                </div>
                <div class="infos">
                  <span class="author">by CISION PR Newswire</span>
                  <div class="line"></div>
                  <div class="info-wrapper">
                    <span class="category">OTHER</span> | <span class="time">2 Months Ago</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="https://www.linkedin.com/posts/sarahanngilbert_marketing-grateful-digital-activity-6745750284707909632-Hk1" class="item" data-type="linkedin" target="blank">
              <div class="i-wrapper">
                <img src="assets/press/image-2.png" alt="" />
                <div class="paragraph">
                  I'm excited to share that HeyKiddo (hey-kiddo.com) my social/emotional learning curriculum for kids, will be competing as a 2021 Semifinalist in the #MilkenPennGSE Education Business Plan Competition which celebrates ventures addressing systemic inequities in education through innovation. Learn more: educationcompetition.org.
                  <b>Read Full Story...</b>
                </div>
                <div class="infos">
                  <span class="author">by Nicole Lipkin (HeyKiddo)</span>
                  <div class="line"></div>
                  <div class="info-wrapper">
                    <span class="category">LINKEDIN</span> | <span class="time">8 Months Ago</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="https://www.instagram.com/kingscrestglobal/" class="item" data-type="instagram" target="blank">
              <div class="i-wrapper">
                <img src="assets/press/image-3.png" alt="" />
                <div class="paragraph">
                  Today we commence a series of posts dedicated to one of the most revolutionary thinking and designing mindsets hoping to bring radical change to our world : the Circular Design Economy.
                  <b>Read Full Story...</b>
                </div>
                <div class="infos">
                  <span class="author">by thefuturistluxuryforecast</span>
                  <div class="line"></div>
                  <div class="info-wrapper">
                    <span class="category">INSTAGRAM</span> | <span class="time">8 Months Ago</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="https://www.linkedin.com/posts/sarahanngilbert_marketing-grateful-digital-activity-6745750284707909632-Hk1" class="item" data-type="linkedin" target="blank">
              <div class="i-wrapper">
                <img src="assets/press/image-1.png" alt="" />
                <div class="paragraph">
                  As the year winds down, I'm reflecting on the seeds that were planted that will grow in the years to come. This year I have been so grateful to find and work with a new Marketing firm, Kings Crest Global run by Saul Tessler. If you are looking for a global, nimble, smart marketing partner, these are your people. <b>#marketing</b> <b>#grateful</b> <b>#digital</b> <b>#digitalacceleration</b> <b>#digitalcampaign</b> 
                  <b>Read Full Story...</b>
                </div>
                <div class="infos">
                  <span class="author">by Sarah Gilbert (RHR)</span>
                  <div class="line"></div>
                  <div class="info-wrapper">
                    <span class="category">LINKEDIN</span> | <span class="time">8 Months Ago</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="https://twitter.com/?lang=en" class="item" data-type="twitter" target="blank">
              <div class="i-wrapper">
                <img src="assets/press/image-4.png" alt="" />
                <div class="paragraph">
                  Today is the 1st day of <b>@SocialEnginProj's</b> Youth Design Lab w/ <b>@IDEO</b>. These students will be reimagining a more equitable post-pandemic school experience & how to develop healthier responses to teen stress. I can't wait to see what they come up with! <b>#DiversityEquityInclusion</b>
                  <b>Read Full Story...</b>
                </div>
                <div class="infos">
                  <span class="author">by Kevin L. Nichols</span>
                  <div class="line"></div>
                  <div class="info-wrapper">
                    <span class="category">TWITTER</span> | <span class="time">8 Months Ago</span>
                  </div>
                </div>
              </div>
            </a>
          
            
          </div>
        </div>
      </div>
    </div>

    {# <div class="button b-black b-icon b-center b-align-center">
      <span class="label">LOAD MORE</span>
      <div class="wrapper">
        <div class="arrow svg a-down"></div>
      </div>
    </div> #}
    
  </div>




{% endblock %}