{% extends "./layouts/main.njk" %}
{% set title        = 'KCG' %}
{% set page         = 'contact' %}
{% set header       = 'h-white' %}
{% set footer       = 'f-white' %}


{% block content %}

<!-- BEGIN SECTION -->
{# <section class="section-content"> #}

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-contact">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-9">

            <div class="contact">
              <div class="right">
                <h1 class="title t-white"><strong>We’d love to<br>hear from you! </strong></h1>
                <div class="infos">
                  <a href="mailto:info@kingscrestglobal.com" class="external" target="blank">info@kingscrestglobal.com</a>
                  <a href="tel:+13477782821" target="blank">+1-347-778-2821</a>
                  <br>
                  {# <span>
                    174 W 4th Street, Suite 200<br>
                    New York, NY 10014
                  </span> #}
                </div>
              </div>
              <div class="left">
                {# <div class="social">
                  <a href="" class="external" target="blank"><span>FACEBOOK</span></a>
                  <a href="" class="external" target="blank"><span>INSTAGRAM</span></a>
                  <a href="" class="external" target="blank"><span>TWITTER</span></a>
                </div> #}
                <form class="form">
                  <div class="input">
                    <span>What's Your Name?</span>
                    <input type="text" />
                  </div>
                  <div class="input">
                    <span>What's Your E-mail?</span>
                    <input type="text" />
                  </div>
                  <div class="input">
                    <span>Tell us about your project.</span>
                    <textarea></textarea>
                  </div>
                  <button class="button b-white b-icon">
                    <span class="label">Send Message</span>
                    <div class="wrapper">
                      <div class="arrow svg a-right"></div>
                    </div>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{# </section> #}
<!-- END SECTION -->



{% endblock %}