{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Are you making the most of your company’s Instagram bio link?' %}
{% set page         = 'journal-inner' %}
{% set header       = 'h-white' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->
{# <section class="section-content"> #}

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-journal-inner" data-color="blue">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="journal.html" class="button b-icon b-white">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-10">
            <h1 class="title t-medium t-white" ><strong>Are you making the most of your company’s Instagram bio link?</strong></h1>
            <div class="paragraph p-white p-bigger">Written by Marjorie Vera</div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col col-9">
            <div class="image-journal-inner">
              <img src="assets/journal/journal-6.jpg" alt="" />
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="journal-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-3">
            <div class="details">
              <span>Published</span><br>
              August 19, 2020
            </div>
            <div class="details">
              <span>Written bY</span><br>
              Marjorie Vera
            </div>
            <div class="details">
              <span>Share</span><br>
              <a>Twitter</a><br>
              <a>Facebook</a><br>
              <a>Pinterest</a><br>
            </div>
          </div>
          <div class="col col-6">
            <div class="paragraph p-bigger">
              In a world that is increasingly driven by content marketing and social media engagement, it’s extremely important to make sure that you’re making the most of all of the resources available.
            </div>
            <div class="paragraph">
              While managing content across all of your company’s channels there’s a lot to do and you might sometimes be asking yourself, “what’s the best possible way to do this in a way that’s elegant and streamlined?”<br><br>
              For starters, let’s have a look at how to make the most of your Instagram bio link and see what we can do to make the absolute best use of it!<br><br>
            </div>
            <div class="paragraph">
              <strong>What exactly is the bio link?</strong>
              When setting up your Instagram profile, whether personal or professional, you’ll notice that you have an option to include a live link on your profile. Now, if you’ve already built a website for your page it could be easy enough to drop that into this section of your bio. <br><br>

              However, you can do so much more with this link if you opt for using a third-party app or host to create one separate link that can drive traffic from your Instagram posts and stories in order to increase your overall web engagement. You can easily include links not only to drive traffic to your company’s website, but also for sharing info about events, blog posts, media channels, and any other content that is relevant to your company.<br><br>
            </div>

            <div class="paragraph">
              <strong>So how does it work?</strong>
              There are now various hosting services available and here we will absolutely take a look at a few specific ones, but let’s first discuss how it works. <br><br>

              You will basically create one link that users can engage with that will then drive them to a list of links that you can customize by hosting through a third-party service provider of your choice. Some are paid, some are free, and some might even be offered through your web-hosting services or other content creation apps. It really depends on what you’re already using, your budget and whether you’re particular about including specific branding details, such as color schemes and other features that may not be offered through a free service provider.<br><br>

              While some of the steps may vary slightly depending on which platform you choose, they are relatively similar. You will first have to register for an account and then link it to the Instagram account that you will be using for the service. Then, you will be directed to customize the link interface, perhaps with a picture or logo, color scheme, and any other stylistic details. After that you can choose the links you want to display, add in the titles, and preview the content to make sure everything is set just as you had envisioned.<br><br>

              Once you’re good to go, you can choose a name for your link, upload it to the platform, and now it’s ready to copy and paste into your Instagram website link!<br><br>
            </div>

            <div class="paragraph">
              <strong>What platform should I use?</strong>
              With so many options, it can be tough to choose the best service provider, so let’s highlight a couple that are great for differing reasons:<br><br>

              <a href="https://linktr.ee/" target="blank">Linktree</a> - this is a great option for anyone who’s on a budget. They feature a “forever free” program that gives you limited features, yet all of the functionality for optimization, including lifetime analytics. With a pro account you will unlock additional features and full web analytics.<br><br>

              <a href="https://skedsocial.com/features/instagram-link-in-bio-tool-sked-link/" target="blank">Sked Social</a> - this is a paid service with plans starting at around $25/month, but this one is fantastic because it’s a full service app that is aimed at increasing overall Instagram content engagement. What’s unique about Sked is that you have the option of a “shoppable bio link” where you can link your Instagram images directly to the website product so that the user can purchase in one-click. You also have the option of a 7-day free trial. <br><br>

              <a href="https://bio.site/" target="blank">Unfold</a> - this app showcases a very elegant link design that is incomparable to most other services. They recently launched “bio sites” and the link option is available to anyone who subscribes to Unfold+ with an annual subscription fee of $19.99/year. <br><br>
            </div>

            <div class="paragraph">
              <strong>Ready to go!</strong>
              So you’ve chosen your platform, created your link, posted it in your bio… now what? <br><br>

              Now you must remember to drive people to engage with your link by adding a “link in bio!” GIF or text to your stories, or even a simple line of text in your profile posts, such as, “Check out my bio link for more info!’<br><br>

              Done. Now watch your online engagement increase and be amazed!<br><br>
            </div>

            <div class="journal-ended">
              <div class="details">
                <span>CATEGORIES</span><br>
                <a>Inspiration</a> • <a>Graphic Design</a>
              </div>
              <div class="details">
                <span>Tags</span><br>
                <a>Digital</a> • <a>Type</a> • <a>Typography</a> • <a>Design</a> • <a>Graphic Design</a> • <a>Motion Design</a> • <a>Typography</a> • <a>Brand Identity</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="journal-content jc-border">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-11">

            <div class="caption">
              <span>Related Posts</span>

              <a href="journal.html" class="button b-black b-icon">
                <span class="label">SEE ALL</span>
                <div class="wrapper">
                  <div class="background"></div>
                  <div class="arrow svg a-right"></div>
                </div>
              </a>
            </div>

            <div class="journal-list">
              <a href="journal-inner-1.html" class="item" data-color="orange">
                <img src="assets/journal/journal-1.jpg" alt="" />
                <div class="j-title">How to Make Compelling Videos and Create an Impact with Social Media</div>
              </a>

              <a href="journal-inner-2.html" class="item" data-color="green">
                <img src="assets/journal/journal-2.jpg" alt="" />
                <div class="j-title"> How to Bring Teams Together and Manage Time Zones.</div>
              </a>

              <a href="journal-inner-3.html" class="item" data-color="yellow">
                <img src="assets/journal/journal-3.jpg" alt="" />
                <div class="j-title">Top Trends to watch in remote working and co-working spaces</div>
              </a>
            </div>
            
          </div>
        </div>
      </div>
    </div>

{# </section> #}
<!-- END SECTION -->


{% endblock %}