{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | How To Create A Comprehensive Branding Guide' %}
{% set page         = 'journal-inner' %}
{% set header       = 'h-white' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->
{# <section class="section-content"> #}

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-journal-inner" data-color="orange">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="journal.html" class="button b-icon b-white">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-10">
            <h1 class="title t-medium t-white" ><strong>How To Create A Comprehensive Branding Guide</strong></h1>
            <div class="paragraph p-white p-bigger">Written by Cecilia Seiter</div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col col-9">
            <div class="image-journal-inner">
              <img src="assets/journal/journal-7.jpg" alt="" />
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="journal-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-3">
            <div class="details">
              <span>Published</span><br>
              August 19, 2020
            </div>
            <div class="details">
              <span>Written bY</span><br>
              Cecilia Seiter
            </div>
            <div class="details">
              <span>Share</span><br>
              <a>Twitter</a><br>
              <a>Facebook</a><br>
              <a>Pinterest</a><br>
            </div>
          </div>
          <div class="col col-6">
            <div class="paragraph p-bigger">
              You’ve probably heard the catchphrase “consistency is key” more times than you can count.
            </div>
            <div class="paragraph">
              Consistency drives results in most all aspects of our lives, ranging from maintaining a healthy lifestyle to picking up a musical instrument. That said, consistency also plays a role in the business world — and specifically in the world of branding. <br><br>
              As entrepreneurs, we know the importance of crafting an authentic, compelling brand that sparks recognition and inspires action in audiences. Just as important as creating that brand, however, is creating <b>a comprehensive branding guide</b>.<br><br>
            </div>
            <div class="paragraph">
              <strong>What Is A Branding Guide?</strong>
              A branding guide is a set of standards that defines how your company presents itself. A branding guide outlines all aspects of a brand so they stay consistent across channels, ranging from grammar and tone of voice rules to on-brand colors, visuals and more.<br><br>
            </div>

            <div class="paragraph">
              <strong>Why Do I Need One?</strong>
              Good responses to this question abound, but the short answer is this: a well-crafted branding guide empowers you to clearly define your brand’s identity in writing. Of course, it also ensures consistency and convenience for anyone making content for your business in the future.<br><br>

              As your company grows, you’re likely to bring designers and copywriters onto your team to create more content and bolster your marketing strategy. Providing these team members with a branding guide gives them the ultimate roadmap for creating accurate, on-brand collateral for your business.<br><br>

              Ultimately, your branding guide serves as the guiding North Star for your creative and strategic team. If you haven’t already started one, here’s <b>how to create a comprehensive branding guide</b>. <br><br>
            </div>

            <div class="paragraph">
              <strong>1. Define your brand’s story.</strong>
              A brand story should combine your company’s vision, mission, and core values into one complete package. <br><br>
              Your brand story should be at the top of your branding guide. That’s because the brand story serves as an introduction to your company, as well as the rationale for all other brand choices (such as tone of voice and logo) as outlined in the rest of your guidebook. <br><br>
            </div>

            <div class="paragraph">
              <strong>2. Determine your brand’s communication style.</strong>
              According to the Content Marketing Institute, about 45% of a brand’s image can be attributed <a href="https://contentmarketinginstitute.com/2020/07/how-to-brand-style-guide/" target="blank">to what a brand says and how it says it</a>. Consider the following when creating written communication guidelines:<br><br>
            </div>

            <div class="paragraph">
              • Tone of voice.<br><br>
              Like people, brands should speak in a unique and identifiable tone. Look back at your brand’s mission and values. Then compare that with the way your brand communicates in written form. Do the two align? <br><br>
              You’ll want to assess exactly what kinds of messages your brand conveys in its communications. Does it sound fun and lighthearted? Or does it land on the more professional, serious side of the spectrum? Provide in-depth examples of what your brand sounds like and how to make it sound that way. For example, is it by using punchy, surprising verbs? Or is it by employing elegant simplicity?<br><br>
              This is also a good place to include what your brand says and doesn’t say. A marketing agency might want to avoid cliché and overused terms such as “world-class” or “industry-leading,” but employ industry buzzwords that cater to their target audience, for instance. <br><br>
            </div>

            <div class="paragraph">
              • A baseline guide.<br><br>
              You don’t need to craft your brand’s voice all on your own. Make the work easier by using an existing style guide, like <a href="https://pitt.libguides.com/citationhelp" target="blank">AP or Chicago style</a>, and tailoring it to your brand’s specific tone of voice. You’ll want to be clear on what certain nuances are acceptable, such as your stance on the Oxford comma or how and when to use emojis. <br><br>
            </div>

            <div class="paragraph">
              • Formatting.<br><br>
              This can be a short section that describes how to use bullet points, pull quotes, hyphens and other critical formatting details.<br><br>
            </div>

            <div class="paragraph">
              • Other additional rules and details.<br><br>
              Be sure to include guidelines for any details that haven’t already been outlined. This could range from anything such as best practices for using ampersands (&) or how to structure on-brand blogs and whitepapers.<br><br>
            </div>

            <div class="paragraph">
              <strong>3. Solidify your brand’s visual language.</strong>
              Your brand’s visual identity is the key to unlocking emotions in your audience that compel them to <b>take action</b> and <b>engage</b> with your brand. As a result, it’s critical to document all aspects of your brand’s visual identity so that it remains consistent across all channels. In this section of your branding guide, be sure to include:<br><br>
            </div>

            <div class="paragraph">
              • Logo guidelines.<br><br>
              Arguably the most important visual aspect of your brand is your logo. Designers should have easy access to up-to-date logo files, as well as examples of its proper and improper uses. (If you need guidance on this, Spotify does a great job of highlighting <a href="https://developer.spotify.com/documentation/general/design-and-branding/#logos-and-naming-restrictions" target="blank">exactly what not to do</a> with its company logo).<br><br>
            </div>

            <div class="paragraph">
              • Fonts.<br><br>
              Determine your brand’s fonts and their uses. Be sure to differentiate which fonts to use for headings and paragraphs, if applicable.<br><br>
            </div>

            <div class="paragraph">
              • Color palettes.<br><br>
              Clearly identify your brand’s specific color palette and usage for each color. This section should also include hex, CMYK, and RGB codes for each color, as well as their <a href="https://www.techopedia.com/definition/487/pantone-matching-system-pms#:~:text=The%20Pantone%20color%20numbers%20consist,consists%20of%20about%201%2C114%20colors." target="blank">Pantone numbers</a>. <br><br>
            </div>

            <div class="paragraph">
              • Formatting guides for other types of visual content.<br><br>
              our brand may venture into other forms of media, whether they be infographics, videos, motion graphics, or podcasts. Include information on how to format this type of content in a way that remains consistent with your other collateral. <br><br>
              Once you’ve completed your branding guide and received feedback from your marketing, sales and design teams, make sure it’s saved in an open format so everyone on your team can access it. Also, keep in mind that this should be a living document — it should be revisited as often as necessary!<br><br>
            </div>

            <div class="paragraph">
              <strong>About King’s Crest Global</strong>
              King’s Crest Global is dedicated to empowering mission-driven brands with innovative digital solutions. We’re scattered across the globe, but we come together daily with a shared mindset and fantastically diverse strengths. We live, breathe and operate in the digital space, meaning our solutions are as cutting-edge as the way we work. <br><br>
              Have a branding project in mind? Reach out today and discover how we can help you bring your brand to life. <br><br>
            </div>

            <div class="journal-ended">
              <div class="details">
                <span>CATEGORIES</span><br>
                <a>Inspiration</a> • <a>Graphic Design</a>
              </div>
              <div class="details">
                <span>Tags</span><br>
                <a>Digital</a> • <a>Type</a> • <a>Typography</a> • <a>Design</a> • <a>Graphic Design</a> • <a>Motion Design</a> • <a>Typography</a> • <a>Brand Identity</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="journal-content jc-border">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-11">

            <div class="caption">
              <span>Related Posts</span>

              <a href="journal.html" class="button b-black b-icon">
                <span class="label">SEE ALL</span>
                <div class="wrapper">
                  <div class="background"></div>
                  <div class="arrow svg a-right"></div>
                </div>
              </a>
            </div>

            <div class="journal-list">
              <a href="journal-inner-1.html" class="item" data-color="orange">
                <img src="assets/journal/journal-1.jpg" alt="" />
                <div class="j-title">How to Make Compelling Videos and Create an Impact with Social Media</div>
              </a>

              <a href="journal-inner-2.html" class="item" data-color="green">
                <img src="assets/journal/journal-2.jpg" alt="" />
                <div class="j-title"> How to Bring Teams Together and Manage Time Zones.</div>
              </a>

              <a href="journal-inner-3.html" class="item" data-color="yellow">
                <img src="assets/journal/journal-3.jpg" alt="" />
                <div class="j-title">Top Trends to watch in remote working and co-working spaces</div>
              </a>
            </div>
            
          </div>
        </div>
      </div>
    </div>

{# </section> #}
<!-- END SECTION -->


{% endblock %}