{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Flipping the Script on Meritocracy in Hiring Marketing Experts' %}
{% set page         = 'journal-inner' %}
{% set header       = 'h-white' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->
{# <section class="section-content"> #}

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-journal-inner" data-color="blue">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="journal.html" class="button b-icon b-white">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-10">
            <h1 class="title t-medium t-white" ><strong>Flipping the Script on Meritocracy in Hiring Marketing Experts</strong></h1>
            <div class="paragraph p-white p-bigger">Written by Gabrielle Brogan</div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col col-9">
            <div class="image-journal-inner">
              <img src="assets/journal/journal-8.jpg" alt="" />
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="journal-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-3">
            <div class="details">
              <span>Published</span><br>
              August 19, 2020
            </div>
            <div class="details">
              <span>Written bY</span><br>
              Gabrielle Brogan
            </div>
            <div class="details">
              <span>Share</span><br>
              <a>Twitter</a><br>
              <a>Facebook</a><br>
              <a>Pinterest</a><br>
            </div>
          </div>
          <div class="col col-6">
            <div class="paragraph p-bigger">
              The best way to spread the word about your company online is through PPC advertising, website SEO, and employing creative marketing strategies to generate leads.
            </div>
            <div class="paragraph">
              At Kings Crest Global, we have found that talented people in those areas are often self-taught and have taken non-traditional paths.<br><br>
              Our CEO Saul Tessler initially began on a traditional educational and career path, attending New York University before transferring to the University of Pennsylvania. With a Master’s in Technology Management, he worked in a broad range of  roles before spearheading a significant shift in his own life and becoming an entrepreneur (he also moved from the USA to Barcelona to top it off!). On his journey, he has learned a great deal about non-traditional paths to entrepreneurship. One thing was clear to him from the beginning - before he founded Kings Crest Global, Saul knew that he wanted to challenge the idea that a career must have a linear trajectory.<br><br>
            </div>

            <div class="paragraph">
              <strong>Diversity of Experience and Background</strong>
              The strength of diversity cannot be understated. Saul emphasizes that it is critical to hire people who are not only a right fit for the company, but who also have diverse life experiences. Kings Crest Global’s team is truly international and everyone has something unique to contribute, in part due to their geographic diversity and backgrounds. <br><br>
              As a company, we take the approach that anyone who wants to learn and can be resourceful can be effective in marketing. While some of the team is focused on content creation, many have taught themselves how to provide SEO or PPC services to our clients, keeping up with the latest digital trends. <br><br>
            </div>

            <div class="paragraph">
              <strong>Non-Traditional Paths</strong>
              At traditional companies, many people seem to attend the same universities and major in similar fields, such as business or economics. Companies with employees who have very similar backgrounds can often become echo chambers in which teams reinforce each other’s mistakes. <br><br>
              New pathways to education are opening up everywhere, thanks to the power of virtual learning. An extraordinary amount of information is available on the internet and people can learn more on their own than ever before. For example, Harvard offers online courses in a variety of subjects, such as data science. <br><br>
              While, our charismatic CEO l does place value on a traditional four-year university program and graduate programs, he acknowledges the changing landscape and values in remote working and virtual teams. The amount of access that talented and dedicated people have to information has decreased the importance of going to a ‘prestigious’ school. Kings Crest Global uses LinkedIn to brand itself and Saul believes that capable people can also use platforms such as LinkedIn to both brand themselves and reach out to their community directly. Gone are the days where you must make connections through the career center at your university. Instead, those who do their research can reach out directly to existing or potential new contacts. Saul has found that a marketing creator’s attendance at a certain university is not what differentiates good content from bad content, but rather the way that the content speaks to its audience is what drives the content’s effectiveness. <br><br>
            </div>

            <div class="paragraph">
              <strong>Emotional Intelligence and Elasticity</strong>
              The best hires are those who have emotional intelligence not only when interacting with clients, but also with the team as a whole. Kings Crest Global is bursting with ambitious people who work hard and deliver highly professional work. However, our culture is also one of respect. In some traditional companies, ambitiousness can turn into unnecessary competitiveness. <br><br>
              Kings Crest Global is defined by a friendly, open team atmosphere, rather than an adversarial one. Saul drives group unity through using all of the communication tools at his disposal, including Slack. Using a Slack chat for the entire team allows everyone to communicate and let others know what they are working on. Moreover, having different channels ensures that teams are on the same page. <br><br>  
            </div>

            <div class="paragraph">
              <strong>Cultural Literacy</strong>
              Although it is critical to Kings Crest Global to have a diverse range of experiences and skills, it is also important that cultural literacy is one of those skills. Understanding the cultures of varying nations and even different areas in the U.S. allows the team as a whole to serve clients and understand their customers. For example, in web development work, it is essential to both understand what will appeal to customers as well as what will not attract them. Having an international team allows cooperation between team members to understand the cultural needs of the client. <br><br>  
            </div>

            <div class="journal-ended">
              <div class="details">
                <span>CATEGORIES</span><br>
                <a>Inspiration</a> • <a>Graphic Design</a>
              </div>
              <div class="details">
                <span>Tags</span><br>
                <a>Digital</a> • <a>Type</a> • <a>Typography</a> • <a>Design</a> • <a>Graphic Design</a> • <a>Motion Design</a> • <a>Typography</a> • <a>Brand Identity</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="journal-content jc-border">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-11">

            <div class="caption">
              <span>Related Posts</span>

              <a href="journal.html" class="button b-black b-icon">
                <span class="label">SEE ALL</span>
                <div class="wrapper">
                  <div class="background"></div>
                  <div class="arrow svg a-right"></div>
                </div>
              </a>
            </div>

            <div class="journal-list">
              <a href="journal-inner-1.html" class="item" data-color="orange">
                <img src="assets/journal/journal-1.jpg" alt="" />
                <div class="j-title">How to Make Compelling Videos and Create an Impact with Social Media</div>
              </a>

              <a href="journal-inner-2.html" class="item" data-color="green">
                <img src="assets/journal/journal-2.jpg" alt="" />
                <div class="j-title"> How to Bring Teams Together and Manage Time Zones.</div>
              </a>

              <a href="journal-inner-3.html" class="item" data-color="yellow">
                <img src="assets/journal/journal-3.jpg" alt="" />
                <div class="j-title">Top Trends to watch in remote working and co-working spaces</div>
              </a>
            </div>
            
          </div>
        </div>
      </div>
    </div>

{# </section> #}
<!-- END SECTION -->


{% endblock %}