{% extends "./layouts/main.njk" %}
{% set title        = 'KCG' %}
{% set page         = 'journal' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->
{# <section class="section-content"> #}

  <div class="smooth-scroll" data-scroll-content>

    <div class="submenu sb-white">
      <div class="item sb-button">
        <div class="svg i-close"></div>
        <div class="svg i-open"></div>
      </div>
      <div class="sb-wrapper">
        <div class="item active"><span>JOURNAL</span></div>
      </div>
    </div>

    <div class="webdoor w-journal">
      
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-10">
            <h1 class="title t-medium t-center" ><strong>Here is where we tell stories.</strong></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="journal-content jc-dark">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-11">
            <div class="journal-highlights">
              <div class="info" data-color="green">
                <div class="caption c-white"><span>Highlight</span></div>
                <h2 class="title t-medium t-white" ><strong>How to bring teams together and manage time zones.</strong></h2>
              </div>
              <div class="image">
                <img src="assets/journal/journal-2.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {# <div class="filter f-marginT">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-11">
            <a href="" class="item i-search"><span class="svg"></span></a>
            <a href="" class="item active"><span>All Categories</span></a>
            <a href="" class="item"><span>Categories</span></a>
            <a href="" class="item"><span>Categories</span></a>
            <a href="" class="item"><span>Categories</span></a>
          </div>
        </div>
      </div>
    </div> #}

    <div class="journal-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-11">
            <div class="journal-list">
            
              
              
              <a href="journal-inner-1.html" class="item" data-color="orange">
                <img src="assets/journal/journal-1.jpg" alt="" />
                <div class="j-title">How to Make Compelling Videos and Create an Impact with Social Media</div>
              </a>

              <a href="journal-inner-2.html" class="item" data-color="green">
                <img src="assets/journal/journal-2.jpg" alt="" />
                <div class="j-title"> How to Bring Teams Together and Manage Time Zones.</div>
              </a>

              <a href="journal-inner-3.html" class="item" data-color="yellow">
                <img src="assets/journal/journal-3.jpg" alt="" />
                <div class="j-title">Top Trends to watch in remote working and co-working spaces</div>
              </a>

              <a href="journal-inner-4.html" class="item" data-color="yellow">
                <img src="assets/journal/journal-4.jpg" alt="" />
                <div class="j-title">Check Out These Tools That Every Startup Must Have</div>
              </a>

              <a href="journal-inner-5.html" class="item" data-color="yellow">
                <img src="assets/journal/journal-5.jpg" alt="" />
                <div class="j-title">How to Get Your Company Seen and Noticed In the Virtual World</div>
              </a>

              <a href="journal-inner-6.html" class="item" data-color="blue">
                <img src="assets/journal/journal-6.jpg" alt="" />
                <div class="j-title">Are you making the most of your company’s Instagram bio link?</div>
              </a>

              <a href="journal-inner-7.html" class="item" data-color="orange">
                <img src="assets/journal/journal-7.jpg" alt="" />
                <div class="j-title">How To Create A Comprehensive Branding Guide</div>
              </a>

              <a href="journal-inner-8.html" class="item" data-color="yellow">
                <img src="assets/journal/journal-8.jpg" alt="" />
                <div class="j-title">Flipping the Script on Meritocracy in Hiring Marketing Experts</div>
              </a>

              <a href="journal-inner-9.html" class="item" data-color="green">
                <img src="assets/journal/journal-9.jpg" alt="" />
                <div class="j-title">PPC Top Tips and Trends</div>
              </a>

              
            </div>
          </div>
        </div>
      </div>
      <div class="button b-black b-icon b-center b-align-center">
        <span class="label">LOAD MORE</span>
        <div class="wrapper">
          <div class="arrow svg a-down"></div>
        </div>
      </div>
    </div>

{# </section> #}
<!-- END SECTION -->




{% endblock %}