{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | How To Craft Standout Subject Lines That Get Emails Opened' %}
{% set page         = 'journal-inner' %}
{% set header       = 'h-white' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->
{# <section class="section-content"> #}

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-journal-inner" data-color="green">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="journal.html" class="button b-icon b-white">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-10">
            <h1 class="title t-medium t-white" ><strong>How To Craft Standout Subject Lines That Get Emails Opened</strong></h1>
            <div class="paragraph p-white p-bigger">Written by Gabrielle Brogan</div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col col-9">
            <div class="image-journal-inner">
              <img src="assets/journal/journal-9.jpg" alt="" />
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="journal-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-3">
            <div class="details">
              <span>Published</span><br>
              August 19, 2020
            </div>
            <div class="details">
              <span>Written bY</span><br>
              Gabrielle Brogan
            </div>
            <div class="details">
              <span>Share</span><br>
              <a>Twitter</a><br>
              <a>Facebook</a><br>
              <a>Pinterest</a><br>
            </div>
          </div>
          <div class="col col-6">
            <div class="paragraph p-bigger">
              In a perfect world, everyone would want to read your marketing emails.
            </div>
            <div class="paragraph">
              They’d hit open as soon as those emails landed in their inbox, read every word and enthusiastically click on every sprinkled-in CTA.<br><br>
              Unfortunately, reality pales in comparison to this fantasy. Modern email users aren’t exactly biting at the bit to read every marketing message that floods their inbox. The average email open rate <a href="https://knowledgebase.constantcontact.com/articles/KnowledgeBase/5409-average-industry-rates?lang=en_US" target="blank">across industries</a> hovers at just under 20%, with some sectors seeing as low as a 6% open rate on average. What gives?<br><br>
              There are many reasons why people don’t open emails, and we can usually blame this on a single culprit: the subject line. <br><br>
              Unfortunately, as far as emails go, first impressions really do matter. An email’s subject line is the first thing readers see once your email hits their inbox, which is why it’s vital to pay close attention to how it reads. Poorly-crafted subject lines are a death sentence for even the most well-written of emails. Standout subject lines, however, have the potential to convert prospective buyers into committed customers.<br><br>
              No matter what your email campaign goals, creating better subject lines is in all marketers’ best interest. Check out the following guidelines for crafting compelling subject lines: <br><br>
            </div>

            <div class="paragraph">
              <strong>1. Keep it concise.</strong>
              Email subject lines will get cut off if they’re too long. This is particularly true on mobile devices. Try staying at 50 characters or less to ensure the entire subject line is legible at first glance.<br><br>
              Stuck on condensing your subject line? Identify the most important words and ideas, then cut out the rest. Your subject line doesn’t need to be overly descriptive; save the juicy details for your email body copy.<br><br>
            </div>
            
            <div class="paragraph">
              <strong>2. Use punchy action verbs. </strong>
              Unsurprisingly, compelling language works just about everywhere, including in your subject line. Include action-oriented verbs that inspire readers to click and read. For example, “Explore the magic of the Arctic Ocean” is more action-oriented and compelling than “Our Arctic Ocean exhibit is now open.”<br><br>
            </div>

            <div class="paragraph">
              <strong>3. Create a sense of urgency.</strong>
              Creating a sense of urgency can spur readers to click — when it’s done strategically and with tact. You don’t want to be the brand that tells customers to “Act now!”, unless, of course, your email requires immediate action. Seeing one too many “act now” subject lines can dissuade readers from clicking at all. Instead, instill urgency with your tone of voice, punctuation, emojis and other devices that create a sense of scarcity. <br><br> 
            </div>

            <div class="paragraph">
              <strong>4. Include deadlines in the subject line.</strong>
              Scarcity and urgency is also achieved by mentioning deadlines. Subject lines like “Ends tonight — flash sale!” or “Take 25% off today only” are great motivators for opening emails.<br><br> 
            </div>

            <div class="paragraph">
              <strong>5. Offer something sweet, but make no false promises.</strong>
              If you’re offering a great deal to your customers, do include that in your subject line — but always make sure to follow through. Building a brand on false promises is a great way to ensure lower open percentages and a higher unsubscribe rate. <br><br> 
            </div>

            <div class="paragraph">
              <strong>6. Don’t use too many capital letters and exclamation points. </strong>
              As much as instilling excitement and urgency matters, we don’t want to overdo it. Using all caps is a huge red flag for email users and will likely prompt them to move your message straight to the trash bin. Tons of exclamation points look similarly spammy. Using one or two here and there will do the trick, depending on your audience, but use three or more and you’ll risk getting blocked altogether.<br><br> 
            </div>

            <div class="paragraph">
              <strong>7. Make it personal.</strong>
              The more you can connect with your readers on a human level, the more they’ll be willing to open your email. Address them by their first name or mention something you know they enjoy. Marketers today have more access to their customers’ information than ever before, so put it to good use! <br><br> 
            </div>

            <div class="paragraph">
              <strong>8. Say something unexpected.</strong>
              Catching your audience by surprise can pique curiosity and entice them to click. <a href="https://www.apartmenttherapy.com/" blank="blank">Apartment Therapy</a> did a great job of this by sending out this email: “Why You Should Keep Your Clothes in the Freezer.” As readers, we’re dying to know why Apartment Therapy is recommending we stuff our clothes next to the ice cream and frozen veggie mix. Clicking almost becomes imperative at this point.<br><br> 
            </div>

            <div class="paragraph">
              <strong>9. Include a number in your subject line.</strong>
              Be sure to use numerals instead of spelling out the number itself. Numbers are much more attention-grabbing than letters are, and they can actually <a href="https://www.campaignmonitor.com/blog/email-marketing/7-data-backed-ways-to-write-email-subject-lines-that-boost-open-rates/" target="blank">increase email open rates</a><br> <br> 
            </div>

            <div class="paragraph">
              <strong>10. Use A/B testing with subject lines.</strong>
              Once you’ve nailed down your perfect subject line, it’s time to put it to the test. Look out for clues as to what resonates most with your readers. Is it emojis in-copy? Is it questions rather than statements? Whatever the case, running a test will ensure you’re putting out content that’s tailored exactly to your audience.<br> <br> 
              Crafting standout subject lines takes grit and patience, but seeing those open rates climb is well worth the effort. <br> <br> 
              For more email and marketing hacks, stay up to date with the King’s Crest Global blog! <br> <br> 
            </div>

            <div class="journal-ended">
              <div class="details">
                <span>CATEGORIES</span><br>
                <a>Inspiration</a> • <a>Graphic Design</a>
              </div>
              <div class="details">
                <span>Tags</span><br>
                <a>Digital</a> • <a>Type</a> • <a>Typography</a> • <a>Design</a> • <a>Graphic Design</a> • <a>Motion Design</a> • <a>Typography</a> • <a>Brand Identity</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="journal-content jc-border">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-11">

            <div class="caption">
              <span>Related Posts</span>

              <a href="journal.html" class="button b-black b-icon">
                <span class="label">SEE ALL</span>
                <div class="wrapper">
                  <div class="background"></div>
                  <div class="arrow svg a-right"></div>
                </div>
              </a>
            </div>

            <div class="journal-list">
              <a href="journal-inner-1.html" class="item" data-color="orange">
                <img src="assets/journal/journal-1.jpg" alt="" />
                <div class="j-title">How to Make Compelling Videos and Create an Impact with Social Media</div>
              </a>

              <a href="journal-inner-2.html" class="item" data-color="green">
                <img src="assets/journal/journal-2.jpg" alt="" />
                <div class="j-title"> How to Bring Teams Together and Manage Time Zones.</div>
              </a>

              <a href="journal-inner-3.html" class="item" data-color="yellow">
                <img src="assets/journal/journal-3.jpg" alt="" />
                <div class="j-title">Top Trends to watch in remote working and co-working spaces</div>
              </a>
            </div>
            
          </div>
        </div>
      </div>
    </div>

{# </section> #}
<!-- END SECTION -->


{% endblock %}