{% extends "./layouts/main.njk" %}
{% set title        = 'KCG' %}
{% set page         = 'legals' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->

<div class="smooth-scroll" data-scroll-content>

  <div class="submenu sb-white">
    <div class="item sb-button">
      <div class="svg i-close"></div>
      <div class="svg i-open"></div>
    </div>
    <div class="sb-wrapper">
      <a href="legals-privacy.html" class="item" ><span>PRIVACY</span></a>
      <a href="legals-cookies.html" class="item active" ><span>COOKIES</span></a>
    </div>
  </div>

  <div class="webdoor w-legals">
  
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-9">
          <h1 class="title t-medium t-center"><strong>COOKIES</strong></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="legals-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-7">
        
          <div class="paragraph p-bigger">
            Kings Crest Global respects your privacy and is committed to protecting your personal data. This privacy notice will inform you as to how we look after your personal data when you instruct us and tell you about your privacy rights and how the law protects you. Please also use the Glossary to understand the meaning of some of the terms used in this privacy notice.
          </div>
          <div class="paragraph">
            <strong>Lorem ipsum dolor sit amet</strong>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum, tortor et ullamcorper suscipit, nibh mauris hendrerit velit, venenatis varius nunc dui ac lorem. Donec ac efficitur sem. Donec efficitur enim et lorem ornare fermentum. Duis finibus nunc vel dui porta, non lobortis dui ultricies. Vestibulum luctus diam a eros eleifend, id sagittis est fringilla. Proin ultricies tincidunt dui in consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer ac tincidunt tellus, sed ornare mauris.<br><br>
            Duis sit amet volutpat leo. Quisque et cursus tellus, quis hendrerit lacus. Etiam purus tellus, aliquet eget turpis a, fermentum finibus justo. Duis vitae aliquam leo. Integer bibendum, purus eu efficitur tincidunt, felis leo laoreet velit, eget porttitor elit lorem ac massa. Duis sapien risus, mollis laoreet nisl eu, commodo bibendum eros. Nunc placerat, elit vehicula sodales lacinia, dui lacus dignissim risus, at sodales lacus lorem in ligula. Curabitur felis ante, congue facilisis sem nec, ornare aliquam nisi. Aenean rutrum lacinia velit vitae tristique. Nulla facilisi. Praesent nisi quam, dignissim in sagittis nec, tempor ut odio. Vestibulum et pharetra odio. Aenean egestas purus enim, nec convallis nunc consectetur ac. Duis quis quam dignissim, gravida dui sed, euismod orci.<br><br>
          </div>
          
          <div class="paragraph">
            <strong>Lorem ipsum dolor sit amet</strong>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum, tortor et ullamcorper suscipit, nibh mauris hendrerit velit, venenatis varius nunc dui ac lorem. Donec ac efficitur sem. Donec efficitur enim et lorem ornare fermentum. Duis finibus nunc vel dui porta, non lobortis dui ultricies. Vestibulum luctus diam a eros eleifend, id sagittis est fringilla. Proin ultricies tincidunt dui in consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer ac tincidunt tellus, sed ornare mauris.<br><br>
            Duis sit amet volutpat leo. Quisque et cursus tellus, quis hendrerit lacus. Etiam purus tellus, aliquet eget turpis a, fermentum finibus justo. Duis vitae aliquam leo. Integer bibendum, purus eu efficitur tincidunt, felis leo laoreet velit, eget porttitor elit lorem ac massa. Duis sapien risus, mollis laoreet nisl eu, commodo bibendum eros. Nunc placerat, elit vehicula sodales lacinia, dui lacus dignissim risus, at sodales lacus lorem in ligula. Curabitur felis ante, congue facilisis sem nec, ornare aliquam nisi. Aenean rutrum lacinia velit vitae tristique. Nulla facilisi. Praesent nisi quam, dignissim in sagittis nec, tempor ut odio. Vestibulum et pharetra odio. Aenean egestas purus enim, nec convallis nunc consectetur ac. Duis quis quam dignissim, gravida dui sed, euismod orci.
          </div>

        </div>
      </div>
    </div>
  </div>

<!-- END SECTION -->


{% endblock %}