{% extends "./layouts/main.njk" %}
{% set title        = 'KCG' %}
{% set page         = 'service' %}
{% set header       = 'h-white' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->
{# <section class="section-content"> #}

  <div class="scrolldown s-white">
    <span>SCROLL</span>
  </div>

  <div class="smooth-scroll" data-scroll-content>

    <div class="services-content sc-inner">

      <div class="infos i-service" style="background-color:#2D3294;">
        <div class="background-gradient" data-color="blue"></div>
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col col-1">
              <a href="services.html" class="button b-icon b-white">
                <div class="wrapper">
                  <div class="arrow svg a-left"></div>
                </div>
              </a>
            </div>
            <div class="col col-10">
              <div class="caption c-white"><span>STRATEGY</span></div>
              <h1 class="title t-medium t-white" ><strong>Bring your next product or service to market.</strong></h1>
              <div class="paragraph p-white">Launch into new areas with expert guidance and bespoke, visionary business strategies.</div>
              <div class="button b-white b-marginT">
                <div class="wrapper">
                    <span class="text">Learn More</span>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="image-services is-stratetgy">
          <img src="assets/services/strategy.png" alt="" />
        </div>
      </div>

      <div class="infos i-hAuto" style="background-color:#2D3294;">

        <div class="container-fluid">
          <div class="row justify-content-center r-padding">
            <div class="col col-9">
              <div class="col-full">
                <h3 class="subtitle sb-white">We will help you evolve what you have into a fully operational business, with a clear structure and a path to growth. </h3>

                <div class="paragraph p-white">
                  Our expert consultants will deliver tailored strategic advice developed over years of building and growing businesses from Silicon Valley to Wall Street.<br><br>Take your pick from our four key service areas, which are all designed to get you started with your next strategic win. 
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center r-padding">
            <div class="col col-9">
              <div class="col-left">
                <div class="caption c-white"><span>Research & Discovery</span></div>
                <div class="paragraph p-white">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non dolor ut augue varius auctor quis non magna. 
                </div>
              </div>
              <div class="col-medium">
                <div class="ico svg i-stg i-stg-first"></div>
              </div>
              <div class="col-right">
                <div class="paragraph p-white">
                  • Expert Research<br>
                  • Competitive benchmarking<br>
                  • Costumer Journey<br>
                  • Costumer Behavior & Insights<br>
                  • Analytical data review
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center r-padding">
            <div class="col col-9">
              <div class="col-left">
                <div class="caption c-white"><span>Business Consultancy</span></div>
                <div class="paragraph p-white">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non dolor ut augue varius auctor quis non magna. 
                </div>
              </div>
              <div class="col-medium">
                <div class="ico svg i-stg i-stg-second"></div>
              </div>
              <div class="col-right">
                <div class="paragraph p-white">
                  • Startup Consultancy<br>
                  • Coaching & interin Services<br>
                  • Finance Management<br>
                  • Operational Management<br>
                  • Sales Strategy<br>
                  • Roadmapping<br>
                  • Strategic Consultancy<br>
                  • Digital Transformation
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center r-padding">
            <div class="col col-9">
              <div class="col-left">
                <div class="caption c-white"><span>Digital Go-To-Market</span></div>
                <div class="paragraph p-white">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non dolor ut augue varius auctor quis non magna. 
                </div>
              </div>
              <div class="col-medium">
                <div class="ico svg i-stg i-stg-third"></div>
              </div>
              <div class="col-right">
                <div class="paragraph p-white">
                  • Marketing Strategy<br>
                  • Sales Strategy<br>
                  • Content Strategy<br>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center r-padding">
            <div class="col col-9">
              <div class="col-left">
                <div class="caption c-white"><span>Branding</span></div>
                <div class="paragraph p-white">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non dolor ut augue varius auctor quis non magna. 
                </div>
              </div>
              <div class="col-medium">
                <div class="ico svg i-stg i-stg-fourth"></div>
              </div>
              <div class="col-right">
                <div class="paragraph p-white">
                  • Brand Strategy<br>
                  • Tone of Voice<br>
                  • Visual Identity<br>
                  • Brand Guidelines
                </div>
              </div>
            </div>
          </div>

          <!-- BEGIN SECTION DOWNLOAD -->
          <div class="row justify-content-center">
            <div class="col col-9">
              <div class="services-download">
                <div class="background-gradient"></div>
                <div class="sd-wrapper">
                  <div class="title t-small t-white">
                    Want to learn more about our Strategy Solutions?<br>
                    <strong>Download a pdf with more information</strong>
                  </div>
                  <div class="button b-icon b-white bt-download">
                    <span class="label">DOWNLOAD PDF</span>
                    <div class="wrapper">
                      <div class="arrow svg a-45"></div>
                    </div>
                  </div>
                </div>
                <div class="sd-inputs">
                  <div class="paragraph p-gray">
                    Enter your infos bellow:
                  </div>
                  <form class="form">
                    <div class="group">
                      <div class="input">
                        <span>Name</span>
                        <input type="text" />
                      </div>
                      <div class="input">
                        <span>Company</span>
                        <input type="text" />
                      </div>
                    </div>
                    <div class="group">
                      <div class="input">
                        <span>Email</span>
                        <input type="text" />
                      </div>
                    </div>
                    <button class="button b-icon b-black">
                      <span class="label">Download PDF</span>
                      <div class="wrapper">
                        <div class="arrow svg a-right"></div>
                      </div>
                    </button>
                  </form>
                </div>
                <div class="sd-close svg bt-close"></div>
              </div>
            </div>
          </div>
          <!-- END SECTION DOWNLOAD -->
          
        </div>
        
      </div>

    </div>

    <div class="services-content sc-testimonials">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-9 c-testimonial">
            <div class="testimonial">
              <div class="slides">
              {% for u in range(0,12) %}
                <div class="item">
                  <div class="wrapper">
                    <div class="stars svg"></div>  
                    <div class="phrase">"You're probably luckier to have them<br>than they are to have you."</div>
                    <div class="info">
                      <img class="photo" src="assets/photos/person-7.png" alt="" />
                      <span class="name">PHIL P</span>
                      <span class="occupation">Founder The Swoup App</span>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              
              <div class="button b-black b-icon t-prev">
                <div class="wrapper">
                  <div class="arrow svg a-left"></div>
                </div>
              </div>
              <div class="button b-black b-icon t-next">
                <div class="wrapper">
                  <div class="arrow svg a-right"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="works-content w-borderT">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-11">
            <div class="caption">
              <span>Related Cases</span>
              <a href="" class="button b-black b-icon">
                <span class="label">SEE ALL</span>
                <div class="wrapper">
                  <div class="arrow svg a-right"></div>
                </div>
              </a>
            </div>
            <div class="works-list">
              <a href="work-heykiddo.html" class="item">
                <div class="wrapper">
                  <img class="image" src="assets/works/work-kiddo.jpg" alt="" />
                  <div class="infos">
                    <div class="name">Hey Kiddo</div>
                    <div class="type">PCC</div>
                  </div>
                </div>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>

{# </section> #}
<!-- END SECTION -->

{% endblock %}