{% extends "./layouts/main.njk" %}
{% set title        = 'KCG' %}
{% set page         = 'work' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->
{# <section class="section-content"> #}

  <div class="smooth-scroll" data-scroll-content>
  
    <div class="webdoor w-work">
      <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col col-1">
              <a href="works.html" class="button b-black b-icon">
                <div class="wrapper">
                  <div class="arrow svg a-left"></div>
                </div>
              </a>
            </div>
            <div class="col col-10">
              <h1 class="title"><strong>Hey Kiddo</strong></h1>
            </div>
          </div>
      </div>
    </div>

    <div class="works-content no-padding">
      <img class="image" src="assets/work/hey_kiddo/webdoor.jpg" alt="">
    </div>

    <div class="works-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-4">
            <div class="details">
              <span>YEAR</span><br>
              2020
            </div>
            <div class="details">
              <span>CLIENT</span><br>
              HeyKiddo
            </div>
            <div class="details">
              <span>WHAT WE DID</span><br>
              UX Strategy, Visual Design, Interactive Design, Front-end Development, Content Management System, Shopify Integration
            </div>
          </div>
          <div class="col col-4">
            <div class="paragraph p-bigger">
              HeyKiddo™ is a complete system developed by psychologists to help kiddos and their grownups build lifelong social, emotional and leadership skills. 
            </div>
            <div class="paragraph">
              <span>Challenge</span><br>
              A pre-revenue startup, HeyKiddo sought to refine its marketing strategy in order to prepare for its upcoming fundraising campaign. 
            </div>
            <div class="paragraph">
              <span>Where Kings Crest Global Comes In</span><br>
              We worked for months on business and financial modeling, and once it came together, it was amazing. The ability to put the pitch deck together was worth that time and effort. Now I have a beautiful, complicated, amazing financial model that I can play with. 
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="works-content no-padding">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-10">
            <div class="work-image">
              <img src="assets/work/hey_kiddo/image-1.jpg" alt="" />
              <div class="wk-sbtitle">HEy Kiddo Pitch deck</div>
            </div>
            <div class="work-image">
              <img src="assets/work/hey_kiddo/image-2.jpg" alt="" />
              <div class="wk-sbtitle">Pay-per-clicks ads in instagram and Facebook</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="works-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-9">
            <div class="testimonial no-slick">
              <div class="slides">
                <div class="item">
                  <div class="wrapper">
                    <div class="stars svg"></div>  
                    <div class="phrase">"King’s Crest helped me see the bigger pictures and possibilities — and not to do things that I might screw up. They do it in a way that’s personal and helpful, not demeaning or condescending. They feel like a partner, and we’re working towards something together."</div>
                    <div class="info">
                      <img class="photo" src="assets/work/people-4.jpg" alt="" />
                      <span class="name">Nicole Lipkin</span>
                      <span class="occupation">Founder</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="works-content w-borderT">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-11">
            <div class="caption">
              <span>Related Cases</span>

              <a href="works.html" class="button b-black b-icon">
                <span class="label">SEE ALL</span>
                <div class="wrapper">
                  <div class="arrow svg a-right"></div>
                </div>
              </a>
            </div>
            <div class="works-list">

              <a href="work-heykiddo.html" class="item">
                <div class="wrapper">
                  <img class="image" src="assets/works/work-kiddo.jpg" alt="" />
                  <div class="infos">
                    <div class="name">Hey Kiddo</div>
                    <div class="type">PCC</div>
                  </div>
                </div>
              </a>

              <a href="work-magwind.html" class="item">
                <div class="wrapper">
                  <img class="image" src="assets/works/work-magwind.jpg" alt="" />
                  <div class="infos">
                    <div class="name">Magwind</div>
                    <div class="type">PCC</div>
                  </div>
                </div>
              </a>

              <a href="work-executiveBench.html" class="item">
                <div class="wrapper">
                  <img class="image" src="assets/works/work-ebench.jpg" alt="" />
                  <div class="infos">
                    <div class="name">Executive Bench</div>
                    <div class="type">Content, PPC, SEO, Web</div>
                  </div>
                </div>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>

{# </section> #}
<!-- END SECTION -->

{% endblock %}