{% extends "./layouts/main.njk" %}
{% set title        = 'KCG | Works' %}
{% set page         = 'works' %}
{% set header       = '' %}
{% set footer       = '' %}


{% block content %}


  <div class="smooth-scroll" data-scroll-content>

  <div class="webdoor w-works">
        
    <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-10">
            <div class="caption c-center">
              <span>Works</span>
            </div>
            <h1 class="title t-medium t-center"><strong>Discover the results we’ve<br>achieved with our clients</strong></h1>
          </div>
        </div>
    </div>
  </div>

  <div class="filter">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-11">
          <a href="" class="item active"><span>All Projects</span></a>
          <a href="" class="item"><span>Strategy</span></a>
          <a href="" class="item"><span>Marketing</span></a>
          <a href="" class="item"><span>Product</span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="works-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-11">
          <div class="works-list">
        
            <a href="work-heykiddo.html" class="item">
              <div class="wrapper">
                <img class="image" src="assets/works/work-kiddo.jpg" alt="" />
                <div class="infos">
                  <div class="name">Hey Kiddo</div>
                  <div class="type">PCC</div>
                </div>
              </div>
            </a>

            <a href="work-magwind.html" class="item">
              <div class="wrapper">
                <img class="image" src="assets/works/work-magwind.jpg" alt="" />
                <div class="infos">
                  <div class="name">Magwind</div>
                  <div class="type">PCC</div>
                </div>
              </div>
            </a>

            <a href="work-executiveBench.html" class="item">
              <div class="wrapper">
                <img class="image" src="assets/works/work-ebench.jpg" alt="" />
                <div class="infos">
                  <div class="name">Executive Bench</div>
                  <div class="type">Content, PPC, SEO, Web</div>
                </div>
              </div>
            </a>

            <a href="work-pao.html" class="item">
              <div class="wrapper">
                <img class="image" src="assets/works/work-pao.jpg" alt="" />
                <div class="infos">
                  <div class="name">PAO</div>
                  <div class="type">Digital Marketing, Public Relations, Custom Analytics & Reporting</div>
                </div>
              </div>
            </a>

            <a href="work-bondview.html" class="item">
              <div class="wrapper">
                <img class="image" src="assets/works/work-bondview.jpg" alt="" />
                <div class="infos">
                  <div class="name">BondView</div>
                  <div class="type">Digital Marketing, Public Relations, Custom Analytics & Reporting</div>
                </div>
              </div>
            </a>

            <a href="work-plastic-surgery.html" class="item">
              <div class="wrapper">
                <img class="image" src="assets/works/work-plastic.jpg" alt="" />
                <div class="infos">
                  <div class="name">Plastic Surgery of New York</div>
                  <div class="type">Digital Marketing, Custom Analytics & Reporting, Digital Go-To-Market</div>
                </div>
              </div>
            </a>

            <a href="work-lnh.html" class="item">
              <div class="wrapper">
                <img class="image" src="assets/works/work-lnh.jpg" alt="" />
                <div class="infos">
                  <div class="name">Look Natural Hair Restoration</div>
                  <div class="type">Digital and Content Marketing, Custom Analytics & Reporting</div>
                </div>
              </div>
            </a>

            <a href="work-oppenheimer.html" class="item">
              <div class="wrapper">
                <img class="image" src="assets/works/work-oppenheimer.jpg" alt="" />
                <div class="infos">
                  <div class="name">Oppenheimer Funds</div>
                  <div class="type">Digital and Content Marketing, Custom Analytics & Reporting</div>
                </div>
              </div>
            </a>

            <a href="work-inmedia.html" class="item">
              <div class="wrapper">
                <img class="image" src="assets/works/work-inmedia.jpg" alt="" />
                <div class="infos">
                  <div class="name">InMedia Consulting</div>
                  <div class="type">Business Consultancy, Digital Go-To-Market</div>
                </div>
              </div>
            </a>

            <a href="work-laser.html" class="item">
              <div class="wrapper">
                <img class="image" src="assets/works/work-laser.jpg" alt="" />
                <div class="infos">
                  <div class="name">Laser by Monica</div>
                  <div class="type">Business Consultancy</div>
                </div>
              </div>
            </a>

            <a href="work-rhr-ebt.html" class="item">
              <div class="wrapper">
                <img class="image" src="assets/works/work-rhr-ebt.jpg" alt="" />
                <div class="infos">
                  <div class="name">RHR - Executive Bench Team</div>
                  <div class="type">Digital and Content Marketing, Custom Analytics & Reporting</div>
                </div>
              </div>
            </a>

            <a href="work-rhr.html" class="item">
              <div class="wrapper">
                <img class="image" src="assets/works/work-rhr.jpg" alt="" />
                <div class="infos">
                  <div class="name">RHR International</div>
                  <div class="type">Digital and Content Marketing, Custom Analytics & Reporting</div>
                </div>
              </div>
            </a>

            <a href="work-swoup.html" class="item">
              <div class="wrapper">
                <img class="image" src="assets/works/work-swoup.jpg" alt="" />
                <div class="infos">
                  <div class="name">Swoup</div>
                  <div class="type">Business Consultancy</div>
                </div>
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>
    {# <div class="button b-black b-icon b-center b-align-center">
      <span class="label">LOAD MORE</span>
      <div class="wrapper">
        <div class="arrow svg a-down"></div>
      </div>
    </div> #}
  </div>




{% endblock %}