.about-content{
    padding: 120px 0px;
    position: relative;
    display: block;
    background-color: @white;
    z-index: 2;
    

    /*------------------*/
    /*--- ATTRIBUTES ---*/
    /*------------------*/
    &.ac-black{
        background: @gray;
    }

    &.ac-nobottom{
        padding-bottom: 0px;
    }

    &.ac-notop{
        padding-top: 0px;
    }

    &.ac-noPadding{
        padding: 0px;
    }

    &.ac-border{
        border-top: 1px solid rgba(0,0,0,.2);
    }

    &.abt-person{
        padding-top: 30px;

        .col-5{
            padding-right: 10%;
        }

        .col-5:last-child{
            padding-right: 0%;
        }

        .subtitle{
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 30px;
        }
    }

    /*----------------*/
    /*--- ELEMENTS ---*/
    /*----------------*/
    .container-fluid{
        .col{
            &.col-9{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                &.c-testimonial{
                    display: initial;
                }

                .caption{
                    width: 15%;
                }

                .subtitle{
                    width: 25%;
                }

                .paragraph{
                    width: 48%;
                }
            }
        }
    }

    .ac-image{
        width: 100%;

        img{
            width: 100%;
        }
    }


    /*------------------*/
    /*--- RESPONSIVE ---*/
    /*------------------*/
    @media( max-width: @screen-large){
        padding: 0px 0px 60px;

        &.abt-person{
            .row{
                flex-direction: column;
                
                .col-1{
                    display: none;
                }

                .col-5{
                    width: 100%;
                    padding: 0px 10px !important;
                }
            }
        }

        .caption {
            padding-top: 60px;
        }

        &.ac-notop{
            padding-bottom: 0px;
        }

        .container-fluid{
            padding: 0px 44px;
            .row{
                .col{
                    &.col-9{
                        width: 100%;
                        flex-direction: column;

                        .caption{
                            width: 100%;
                        }
        
                        .subtitle{
                            width: 100%;
                        }
        
                        .paragraph{
                            width: 100%;
                        }
                    }

                    &.col-10, &.col-11{
                        width: 100%;
                    }
                }
            }
        }

        
    }

    @media( max-width: @screen-small ){
        &.abt-person{
            .subtitle{
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 20px;
            }
        }

        .title{
            &.t-center{
                padding: 0px 40px;
            }
        }

        .container-fluid{
            padding: 0px 30px;
        }
    }

    @media( max-width: @screen-xsmall ){
    }
}