.filter{
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.2);
    z-index: 2;
    background-color: @white;


    /*------------------*/
    /*--- ATTRIBUTES ---*/
    /*------------------*/
    &.f-marginT{
        margin-top: 50px;
    }


    /*------------------*/
    /*--- FILTER DROPDOWN ---*/
    /*------------------*/
    .work-filter-nav {
        display: none;
        position: relative;
        align-self: flex-start;
        z-index: 5;
    }
    .work-filter-dropdown-nav {
        display: none;
        position: absolute;
        top: 45px;
        z-index: 5;

        &.work-dropdown-left-arrow {
            left: 10px;
        }
        &.work-dropdown-right-arrow {
            right: 10px;
        }
    }
    .works-filter-menu {
        position: relative;
        display: flex;
        width: 100%;
        grid-gap: 40px;
        z-index: 4;

        li.active > .item::before {
            width: 100%;
        }
        li:hover {
            .item {
                span {
                    color: #000000;
                }
                &::before {
                    width: 100%;
                }
            }
        }
        li.active .filter-dropdown {
            display: flex;
            flex-flow: wrap row;
            grid-gap: 10px;
        }
        li.active > .item span {
            color: #000000;
        }
    }
    .filter-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 30px 0;
        display: none;

        li {
            padding: 0 15px;
            display: inline-block;

            .item {
                padding: 10px 15px;
                display: inline-grid;
                align-items: center;
                border: 1px solid #000;
                border-radius: 20px;
                min-width: 180px;
                text-align: center;

                span {
                    color: #000000;
                }

                &::before{
                    display: none;
                }
            }
        }
    }


    /*----------------*/
    /*--- ELEMENTS ---*/
    /*----------------*/
    .container-fluid{
        .col{
            display: flex;
        }
    }

    .item{
        position: relative;
        padding-bottom: 20px;
        display: block;
        cursor: pointer;

        &.active{
            span{
                .blackerBd;
                color: rgba(0,0,0,1);
            }

            &:before{
                width: 100%;
            }
        }

        &:hover{
            span{
                color: rgba(0,0,0,1);
            }
        }

        &:before{
            .ba;
            position: absolute;
            width: 0%; height: 1px;
            background-color: @black;
            bottom: -1px;
            transition: .5s all @custom;
        }

        &.i-search{
            width: 40px;
            height: 40px;

            .svg{
                .centerBoth;
                top: 35%;
                width: 25px;
                height: 25px;
                display: block;
                .bg('ico-search.svg');
            }
        }
    }

    span{
        .blackerBk;
        color: rgba(0,0,0,.4);
        transition: .5s all @custom;
    }

    /*------------------*/
    /*--- RESPONSIVE ---*/
    /*------------------*/

    @media( max-width: @screen-large ){
        margin-top: 70px;

        .col{
            justify-content: center;
        }
    }

    @media( max-width: @screen-medium ) {
        .work-filter-nav {
            display: block;
        }
        .works-filter-menu {
            padding-bottom: 75px;
            overflow: hidden;
            box-sizing: border-box;
            width: 1000px;

            &li .item {
                padding-bottom: 10px;
            }
            li.active {
                .filter-dropdown {
                    display: flex;
                    flex-flow: nowrap;
                    grid-gap: 10px;
                    top: 25px;
                }
            }

            .filter-dropdown {
                padding: 20px 0;
                width: 1000px;

                li {
                    padding: 0;

                    .item {
                        margin: 0;
                    }
                }
            }
        }
    }

    @media( max-width: @screen-small ){
        padding-bottom: 0px;
        margin-top: 40px;

        .container-fluid{
            padding: 0px;
            margin: 0px;
            width: 100%;
        }

        .col{
            justify-content: flex-start;
            padding: 0px;
            width: 100%;
        }

        .row{
            width: 100%;
            margin: 0px;
        }

        a{
            span{
                white-space: nowrap;
                font-size: 14px;
            }
        }

        .item{
            &:before{
                bottom: 0px;
            }
        }

    }

}