@media screen and (orientation: landscape) and (min-width:1110px) and (max-width:1120px) {
    .portrait{
        display: none !important;
    }   
    #slide-1 .shape {
        display: none;
    }    
   .home-content .title,
   .home-infos .title {
       font-size: 17px;
       line-height: 25px;
   }
   .home-infos .button {
       margin-top: 10px;
   }

   .home-globe {
       top: 41vh;
       position: absolute;
   }

   .home-infos {
       top: 1vh;
   }

   .home-bckg .shape {
       height: 63%;
       top: 55%;
   }
   .home-bckg .images img{
       opacity: 1;
   }
   .home-bckg .images {
       top: 50%;
   }

   .home-bckg .images .img {
       top: 67%;
   }
   #slide-3 .home-bckg .images .img {
       top: 39%;
   }
   .home-infos .title{
       left: 6%;
   }
   .button .wrapper {
       padding: 10px 30px 12px;
   }
   .button .text {
       font-size: 12px;
   }

   #slide-1 .home-infos .steps {
    top: -1%;
   }
   .home-bckg {
       display: block !important;
   }

   .footer .title {
       font-size: 18px;
       line-height: 29px;
       padding-top: 6px;
   }

   .footer .title + .button {
       margin-top: 17px;
   }

   .home .wrapper {
       padding: 8px 28px 12px;
   }

   .footer .f-menu ul li .item {
       font-size: 10px;
       line-height: 10px;
   }

   .footer .f-infos a,.footer .f-infos span {
       font-size: 10px;
   }

   .footer .container-fluid .row:first-of-type {
       padding-bottom: 24px;
   }

   .footer .item {
       font-size: 10px;
       line-height: 16px;
   }

   .footer .legals a,.l-desktop {
       font-size: 10px;
   }
   .home-infos .steps{
       width: 88%;
       top: 31%;
   }
   #slide-2 .home-infos .title,
   #slide-3 .home-infos .title,
   #slide-4 .home-infos .title,
   #slide-5 .home-infos .title {
       width: 30%!important;
       text-align: left!important;
       left: 0%!important;
   }
   #slide-2 .home-infos .paragraph,
   #slide-3 .home-infos .paragraph,
   #slide-4 .home-infos .paragraph,
   #slide-5 .home-infos .paragraph{
       width: 100%;
       text-align: right!important;
       right: -25%;
       display: block;
   }
   #slide-2 .home-infos .i-wrapper,
   #slide-3 .home-infos .i-wrapper,
   #slide-4 .home-infos .i-wrapper,
   #slide-5 .home-infos .i-wrapper
   {
       width: 30%;
       right: 0%;
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       text-align: right;
       margin-right: 0;
   }
   #slide-2 .home-infos .i-wrapper a,
   #slide-3 .home-infos .i-wrapper a,
   #slide-4 .home-infos .i-wrapper a,
   #slide-5 .home-infos .i-wrapper a{
       margin-right: 0;
   }
   .footer .scrollup {
       height: 15px;
   }
   .scrolldown {
       bottom: 7px;
   }
   .scrolldown span {
       font-size: 9px !important;
   }
   .header .menu .item {
       font-size: 14px !important;
       line-height: 22px;
   }

   .menu .social {
       margin-top: 10px;
       margin-bottom: 10px;
   }

   .menu .social a {
       height: 12px;
       width: 12px;
   }

   .menu.show-menu .infos {
       margin-top: 6px !important;
   }

   .menu .infos a,.menu .infos span {
       font-size: 13px;
   }
   .clients.c-home {
       top: 39%;
   }

   .clients.c-home .image {
       height: 35px;
       margin-top: 10px;
       margin-bottom: 10px;
   }
   .home-content .button {
       margin-top: 20px;
   }
  
    #slide-1 .home-infos .title {
        left: 0%;
        width: 100%;
        text-align: center;
        font-size: 28px !important;
        top: 70%;
    }
    #slide-1 .home-infos .i-wrapper .paragraph{
        display: none;
    }
    #slide-1 .home-infos .i-wrapper {
        width: 100%;
        right: 0;
        position: absolute;
        top: 77%;
        transform: none;
        text-align: center;
    }
    #slide-1 .home-infos .i-wrapper a {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0 !important;
    }
    .home-infos .steps {
        width: 90%;
        left: 5%;
    }
    #slide-1 .home-infos .steps{
        left: 0%;
    }
    #slide-1 .home-infos .steps {
         width: 100%;
     }
     .home-infos .steps {
        top: 0%;
    }
}

@media screen and (orientation:landscape) and (max-width: 900px) { 
    
     .portrait{
         display: none !important;
     }       
    .home-content .title,
    .home-infos .title {
        font-size: 17px;
        line-height: 25px;
    }
    .home-infos .button {
        margin-top: 10px;
    }

    .home-globe {
        top: 41vh;
        position: absolute;
    }

    .home-infos {
        top: 1vh;
    }

    .home-bckg .shape {
        height: 63%;
        top: 55%;
    }
    .home-bckg .images img{
        opacity: 1;
    }
    .home-bckg .images {
        top: 50%;
    }

    .home-bckg .images .img {
        top: 67%;
    }
    #slide-3 .home-bckg .images .img {
        top: 39%;
    }
    .home-infos .title{
        left: 6%;
    }
    .button .wrapper {
        padding: 10px 30px 12px;
    }
    .button .text {
        font-size: 12px;
    }

    #slide-1 .home-infos .steps {
        top: 45%;
    }
    .home-bckg {
        display: block !important;
    }

    .footer .title {
        font-size: 18px;
        line-height: 29px;
        padding-top: 6px;
    }

    .footer .title + .button {
        margin-top: 17px;
    }

    .home .wrapper {
        padding: 8px 28px 12px;
    }

    .footer .f-menu ul li .item {
        font-size: 10px;
        line-height: 10px;
    }

    .footer .f-infos a,.footer .f-infos span {
        font-size: 10px;
    }

    .footer .container-fluid .row:first-of-type {
        padding-bottom: 24px;
    }

    .footer .item {
        font-size: 10px;
        line-height: 16px;
    }

    .footer .legals a,.l-desktop {
        font-size: 10px;
    }
    .home-infos .steps{
        width: 88%;
        top: 31%;
    }
    .home-infos .i-wrapper {
        margin-top: 0;
    }
    #slide-2 .home-infos .title,
    #slide-3 .home-infos .title,
    #slide-4 .home-infos .title,
    #slide-5 .home-infos .title {
        width: 30%!important;
        text-align: left!important;
        left: 0%!important;
    }
    #slide-2 .home-infos .paragraph,
    #slide-3 .home-infos .paragraph,
    #slide-4 .home-infos .paragraph,
    #slide-5 .home-infos .paragraph{
        width: 100%;
        text-align: right!important;
        right: -25%;
        display: block;
    }
    #slide-2 .home-infos .i-wrapper,
    #slide-3 .home-infos .i-wrapper,
    #slide-4 .home-infos .i-wrapper,
    #slide-5 .home-infos .i-wrapper
    {
        width: 30%;
        right: 0%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: right;
        margin-right: 0;
    }
    #slide-2 .home-infos .i-wrapper a,
    #slide-3 .home-infos .i-wrapper a,
    #slide-4 .home-infos .i-wrapper a,
    #slide-5 .home-infos .i-wrapper a{
        margin-right: 0;
    }
    .footer .scrollup {
        height: 15px;
    }
    .scrolldown {
        bottom: 7px;
    }
    .scrolldown span {
        font-size: 9px !important;
    }
    .header .menu .item {
        font-size: 14px !important;
        line-height: 22px;
    }

    .menu .social {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .menu .social a {
        height: 12px;
        width: 12px;
    }

    .menu.show-menu .infos {
        margin-top: 6px !important;
    }

    .menu .infos a,.menu .infos span {
        font-size: 13px;
    }
    .clients.c-home {
        top: 39%;
    }

    .clients.c-home .image {
        height: 35px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .home-content .button {
        margin-top: 20px;
    }
}

@media screen and (orientation:landscape) and (max-width: 600px){
    
    .header .menu .item {
        font-size: 10px !important;
        line-height: 15px;
    }
    .footer .f-menu.f-social {
        display: flex;
        grid-gap: 4px;
        position: absolute;
        right: 0;
        top: 55%;
    }

    .button.b-icon .wrapper {
        width: 40px;
        height: 40px;
    }

    .button.b-icon .wrapper svg {
        height: 25px;
        width: 25px;
        left: 8px;
        top: 6px;
    }
    .clients.c-home {
        padding: 32px 0;
        top: 52%;
    }

    .home-content .title {
        font-size: 13px;
        line-height: 18px;
        top: -6px;
    }

    .home .home-content .infos:nth-of-type(5) .button {
        margin-top: 5px !important;
    }

    .clients.c-home .image {
        height: 33px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .home-infos .steps {
        top: 40%;
    }
    .clients.c-home {
        padding: 32px 0;
        top: 37%;
    }
    .paragraph {
        font-size: 12px;
        line-height: 19px;
    }
    .button .text {
        font-size: 10px;
    }
    .button .wrapper {
        padding: 6px 30px 8px;
    }
    .home-content .title {
        font-size: 13px;
        line-height: 18px;
    }
    #slide-1 .title {
        top: 8px;
    }
    #slide-5 .title{
        top: -33px;
    }
    #slide-5 .button {
        margin-top: -22px;
    }

}

// New code for   galaxy fold
@media screen and (orientation:landscape) and (min-width: 600px) and (max-width:680px){
    .button {
        margin: 0px auto 0;
    }
    
    .button .wrapper {
        padding: 5px 30px 6px;
    }
    
    .button .wrapper span {
        font-size: 8px;
        font-weight: 400;
    }
    .home-content .title, .home-infos .title {
        font-size: 14px;
        line-height: 18px;
    }
    .home-infos .paragraph {
        font-size: 13px;
        line-height: 18px;
    }
    .home-infos .steps {
        top: 40%;
    }
    .home-content .infos:nth-of-type(5) .i-wrapper {
        padding-top: 56px;
    }
}

@media screen and (orientation:landscape) and (min-width: 710px) and (max-width:730px){
    .home-infos .steps {
        top: 40%;
    }
    .home-content .infos:nth-of-type(5) .i-wrapper {
        padding-top: 215px;
    }
    .home-bckg .images img {
        transform: translateX(-2%);
    }
    #slide-1 .shape {
        display: none;
    }
}


// new code for surface duo portrait
@media screen  and (orientation:portrait) and (min-width:510px) and (max-width:545px) {
    
    .portrait{
        display: none !important;
    }  
    .home-infos .steps {
        width: 88%;
        top: 45% !important;
    }
    #slide-1 .home-infos .steps {
        top: 70% !important;
    }
    
    #slide-1 .shape {
        display: none;
    } 
    #slide-1 .home-infos .steps {
        top: 70%;
    }    
   .home-content .title,
   .home-infos .title {
       font-size: 17px;
       line-height: 25px;
   }
   .home-infos .button {
       margin-top: 10px;
   }

   .home-globe {
       top: 41vh;
       position: absolute;
   }

   .home-infos {
       top: 1vh;
   }

   .home-bckg .shape {
       height: 63%;
       top: 55%;
   }
   .home-bckg .images img{
       opacity: 1;
   }
   .home-bckg .images {
       top: 50%;
   }

   .home-bckg .images .img {
       top: 67%;
   }
   #slide-3 .home-bckg .images .img {
       top: 39%;
   }
   .home-infos .title{
       left: 6%;
   }
   .button .wrapper {
       padding: 10px 30px 12px;
   }
   .button .text {
       font-size: 12px;
   }

   #slide-1 .home-infos .steps {
       top:61%;
   }
   .home-bckg {
       display: block !important;
   }

   .footer .title {
       font-size: 18px;
       line-height: 29px;
       padding-top: 6px;
   }

   .footer .title + .button {
       margin-top: 17px;
   }

   .home .wrapper {
       padding: 8px 28px 12px;
   }

   .footer .f-menu ul li .item {
       font-size: 10px;
       line-height: 10px;
   }

   .footer .f-infos a,.footer .f-infos span {
       font-size: 10px;
   }

   .footer .container-fluid .row:first-of-type {
       padding-bottom: 24px;
   }

   .footer .item {
       font-size: 10px;
       line-height: 16px;
   }

   .footer .legals a,.l-desktop {
       font-size: 10px;
   }
   .home-infos .steps{
       width: 88%;
       top: 31%;
   }
   #slide-2 .home-infos .title,
   #slide-3 .home-infos .title,
   #slide-4 .home-infos .title,
   #slide-5 .home-infos .title {
       width: 30%!important;
       text-align: left!important;
       left: 0%!important;
   }
   #slide-2 .home-infos .paragraph,
   #slide-3 .home-infos .paragraph,
   #slide-4 .home-infos .paragraph,
   #slide-5 .home-infos .paragraph{
       width: 100%;
       text-align: right!important;
       right: -25%;
       display: block;
   }
   #slide-2 .home-infos .i-wrapper,
   #slide-3 .home-infos .i-wrapper,
   #slide-4 .home-infos .i-wrapper,
   #slide-5 .home-infos .i-wrapper
   {
       width: 30%;
       right: 0%;
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       text-align: right;
       margin-right: 0;
   }
   #slide-2 .home-infos .i-wrapper a,
   #slide-3 .home-infos .i-wrapper a,
   #slide-4 .home-infos .i-wrapper a,
   #slide-5 .home-infos .i-wrapper a{
       margin-right: 0;
   }
   .footer .scrollup {
       height: 15px;
   }
   .scrolldown {
       bottom: 7px;
   }
   .scrolldown span {
       font-size: 9px !important;
   }
   .header .menu .item {
       font-size: 14px !important;
       line-height: 22px;
   }

   .menu .social {
       margin-top: 10px;
       margin-bottom: 10px;
   }

   .menu .social a {
       height: 12px;
       width: 12px;
   }

   .menu.show-menu .infos {
       margin-top: 6px !important;
   }

   .menu .infos a,.menu .infos span {
       font-size: 13px;
   }
   .clients.c-home {
       top: 39%;
   }

   .clients.c-home .image {
       height: 35px;
       margin-top: 10px;
       margin-bottom: 10px;
   }
   .home-content .button {
       margin-top: 20px;
   }
   .home-content .infos:nth-of-type(5) .i-wrapper {
        padding-top: 300px;
    }
}

// surface unfold potrait
@media screen  and (orientation:portrait) and (min-width:710px) and (max-width:730px) {
    
    .portrait{
        display: none !important;
    }  
    .home-infos .steps {
        width: 88%;
        top: 45% !important;
    }
    #slide-1 .home-infos .steps {
        top: 70% !important;
    }
    
    #slide-1 .shape {
        display: none;
    } 
    #slide-1 .home-infos .steps {
        top: 70%;
    }    
   .home-content .title,
   .home-infos .title {
       font-size: 17px;
       line-height: 25px;
   }
   .home-infos .button {
       margin-top: 10px;
   }

   .home-globe {
       top: 41vh;
       position: absolute;
   }

   .home-infos {
       top: 1vh;
   }

   .home-bckg .shape {
       height: 63%;
       top: 55%;
   }
   .home-bckg .images img{
       opacity: 1;
   }
   .home-bckg .images {
       top: 50%;
   }

   .home-bckg .images .img {
       top: 67%;
   }
   #slide-3 .home-bckg .images .img {
       top: 39%;
   }
   .home-infos .title{
       left: 6%;
   }
   .button .wrapper {
       padding: 10px 30px 12px;
   }
   .button .text {
       font-size: 12px;
   }

   #slide-1 .home-infos .steps {
       top:61%;
   }
   .home-bckg {
       display: block !important;
   }

   .footer .title {
       font-size: 18px;
       line-height: 29px;
       padding-top: 6px;
   }

   .footer .title + .button {
       margin-top: 17px;
   }

   .home .wrapper {
       padding: 8px 28px 12px;
   }

   .footer .f-menu ul li .item {
       font-size: 10px;
       line-height: 10px;
   }

   .footer .f-infos a,.footer .f-infos span {
       font-size: 10px;
   }

   .footer .container-fluid .row:first-of-type {
       padding-bottom: 24px;
   }

   .footer .item {
       font-size: 10px;
       line-height: 16px;
   }

   .footer .legals a,.l-desktop {
       font-size: 10px;
   }
   .home-infos .steps{
       width: 88%;
       top: 31%;
   }
   #slide-2 .home-infos .title,
   #slide-3 .home-infos .title,
   #slide-4 .home-infos .title,
   #slide-5 .home-infos .title {
       width: 30%!important;
       text-align: left!important;
       left: 0%!important;
   }
   #slide-2 .home-infos .paragraph,
   #slide-3 .home-infos .paragraph,
   #slide-4 .home-infos .paragraph,
   #slide-5 .home-infos .paragraph{
       width: 100%;
       text-align: right!important;
       right: -25%;
       display: block;
   }
   #slide-2 .home-infos .i-wrapper,
   #slide-3 .home-infos .i-wrapper,
   #slide-4 .home-infos .i-wrapper,
   #slide-5 .home-infos .i-wrapper
   {
       width: 30%;
       right: 0%;
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       text-align: right;
       margin-right: 0;
   }
   #slide-2 .home-infos .i-wrapper a,
   #slide-3 .home-infos .i-wrapper a,
   #slide-4 .home-infos .i-wrapper a,
   #slide-5 .home-infos .i-wrapper a{
       margin-right: 0;
   }
   .footer .scrollup {
       height: 15px;
   }
   .scrolldown {
       bottom: 7px;
   }
   .scrolldown span {
       font-size: 9px !important;
   }
   .header .menu .item {
       font-size: 14px !important;
       line-height: 22px;
   }

   .menu .social {
       margin-top: 10px;
       margin-bottom: 10px;
   }

   .menu .social a {
       height: 12px;
       width: 12px;
   }

   .menu.show-menu .infos {
       margin-top: 6px !important;
   }

   .menu .infos a,.menu .infos span {
       font-size: 13px;
   }
   .clients.c-home {
       top: 39%;
   }

   .clients.c-home .image {
       height: 35px;
       margin-top: 10px;
       margin-bottom: 10px;
   }
   .home-content .button {
       margin-top: 20px;
   }
   .home-content .infos:nth-of-type(5) .i-wrapper {
        padding-top: 557px;
    }
}

@media  screen and (orientation:landscape) and (min-width:350px) and (max-width:1120px) {
    .modal .text {
        font-size: 16px;
    }
    .button.b-align-center {
        margin: 0 auto;
        margin-top: 19px!important;
    }
}

@media screen  and (orientation:portrait) and (min-width:250px) and (max-width:450px){
    .modal .m-wrapper {
        padding: 20px 15px;
    }
    .modal .text {
        font-size: 16px;
    }
}
@media screen  and (orientation:portrait) and (min-width:500px) and (max-width:1124px){
    .modal .text {
        font-size: 16px;
    }
    .modal .m-wrapper {
        padding: 30px 37px;
        width: 450px;
    }
}
