// large screen portrait and and tablet
.loader .background::before,
.loader .background::after{
    display: none;
}
.header{
    transition: all .30s linear;
}
.home-content{
    #slide-5 .col {
        height: 100vh;
    }
    #slide-5 .title {
        width: 100%;
    }
    
    #slide-5 .i-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    
    #slide-5 .button {
        margin-left: 0;
        margin-right: auto;
    }
    #slide-5 .col{
        height: 100vh;
    }
    #slide-5 .col-5 {
        display: flex;
    }
    .clients.c-home {
        position: relative;
        left: -38%;
    }
   
    // before after remove
    
    .home-bckg .background:before {
        opacity: 0;
    }

    // bckg image
    #slide-1{
        .home-infos{
            .steps{

            }
        }
        .shape{
            display: none;
            .background{
                .bg2('/home/reactangle-1.webp');
            }
        }
    }
    #slide-2{
        .home-infos{
            .steps{
                
            }
        }
        .shape{
            .background{
                .bg2('/home/reactangle-2.webp');
            }
        }
        .img{
            align-items: center !important;
            width: 128%;
            overflow: hidden;
            img{
                max-width: 100% 
            }
        }
    }
    #slide-3{
        .home-infos{
            .steps{
                
            }
        }
        .shape{
            .background{
                .bg2('/home/reactangle-3.webp');
            }
        }
        .img{
            width: 115%;
            overflow: hidden;
            img{
                max-width: 100%
            }
        }
    }
    #slide-4{
        .home-infos{
            .steps{
                
            }
        }
        .shape{
            .background{
                .bg2('/home/reactangle-4.webp');
                background-size: cover;
            }
        }
        .img{
            align-items: flex-end!important;
            justify-content: flex-end;
            max-width: 121%;
            overflow: hidden;
            max-height: 111% !important;
            width: 110%;
            img{
                max-width: 100%;
                position: relative;
                right: 0;
                max-height: 84%;
                
            }
        }
    }
    #slide-5{
        .img{
            img{}
        }
    }

    .background::before,
    .background::after{
        display: none;
    }
    
    @media screen and (min-width:768px) {
        .home-infos .steps{
            padding-left: 60px;
        }
        #slide-5 .i-wrapper{
            padding-left: 60px;
        }
        
    }
    
}


@media screen and (orientation:landscape) and (min-width:768px) {
    .home-bullets {
        display: flex;
    }
    
    .home-content{
        
        .title {
            font-size: 60px;
            line-height: 60px;
        }
        
        
    }
}

// 
@media screen and (orientation:landscape) and (min-width:768px) and (max-width:1200px) and (min-height:600px) {
    .home-bullets {
        display: flex;
        position: fixed;
        top: 0;
    }
    .home-content .title {
        font-size: 40px;
        line-height: 49px;
    }
}


@media screen and (orientation:portrait) and (min-width:768px)  {
    #slide-1 .paragraph{
        display: none;
    }
   
    // 
    .home-content{
        #slide-5 .col-5 {
            width: 60%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
        
        #slide-5 .title {
            text-align: center;
        }
        
        #slide-5 .button {
            margin-left: auto !important;
            margin-right: auto !important;
        }
        
        #slide-5 .i-wrapper {
            align-items: center;
            justify-content: flex-end;
            position: relative;
            width: 100%;
        }
        .clients.c-home {
            width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            top: 70%;
        }
        .clients.c-home .wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            transform: rotate(
        -2.7deg);
        }
        .clients.c-home .line {
            width: 100%;
            margin: 0;
            transform: none;
        }
        .clients.c-home .logos {
            display: inline-block;
            transform: none;
            white-space: nowrap;
        }
        .clients.c-home .line:first-of-type .logos {
            transform: none;
            -webkit-animation: marquee 180s linear 0s infinite normal none running;
            animation: marquee 180s linear 0s infinite normal none running;
        }
        .clients.c-home .image {
            width: auto;
            display: inline-block;
            height: 60px;
        }
        .clients.c-home .image img {
            width: auto;
            height: 100%;
        }
        .title {
            font-size: 4.2vw;
            line-height: 4vh;
        }
    }
}

// only When there is no dots
@media screen and (orientation: portrait) and (min-width:768px) and (max-width:1024px) {
    .home-content #slide-5 .i-wrapper, .home-content .home-infos .steps {
        padding-left: 0px;
    }
    .home-content{
        #slide-2{
            .img{
                img{
                    max-width: 100%;
                }
            }
        }
        #slide-3{
            .img{
                img{
                    max-width: 103%;
                    max-height: 100%;
                }
            }
        }
        #slide-4{
            .img{
                img{
                    max-width: 103%;
                    position: relative;
                    right: 0;
                    max-height: 100%;
                }
            }
        }
        #slide-5{
            .img{
                img{
                    max-width: 103%;
                }
            }
        }
    }
    
    
}

@media screen and (orientation:portrait) and (max-width:767px)  {
    .home-content{

        #slide-1 .home-infos .steps {
            top: 20%;
        }
        
        #slide-1 .home-infos .button{
            margin-top: 0 !important;
        }
        #slide-5 .i-wrapper {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
        }
        #slide-5 .col {
            height: 30vh;
        }
        #slide-5 .button {
            margin-left: auto;
            margin-right: auto;
        }
        .home-infos .steps{
            padding-left: 0px;
        }
        #slide-5 .i-wrapper{
            padding-left: 0px;
        }
        // 
        #slide-2 img{
            transform: translate(20%,0) scaleX(-1);
        }
        // 
        .infos {
            height: 120vh !important;
        }
        #slide-1 .home-bckg .shape {
            top: 75%;
            height: 35%;
        }
    }
    
}

@media screen and (orientation:landscape) and (max-width:991px) and (max-height:550px)  {
    .portrait{
        display: none;
    }
    .scrolldown{
        display: none;
    }
    .home-bullets {
        display: none;
    }
    .home-content{
        .home-bckg .shape{
            border-radius: 5px;
        }
        .i-wrapper {
            width: 30%;
            position: static;
        }
        .title {
            font-size: 30px;
            line-height: 34px;
            width: 30%;
        }
        .paragraph {
            font-size: 14px;
            line-height: 21px;
        }
        .button{
            margin-top: 30px;
        }
        .button .wrapper{
            padding: 9px 17px 12px;
        }
        .button .wrapper .text {
            font-size: 10px!important;
        }
        .home-bckg .images .img{
            padding-bottom: 10px;
        }
        #slide-4 .home-bckg .images .img{
            padding-bottom: 0px;
            justify-content: flex-end;
        }
        
        #slide-5 .container-fluid{
            height: 100vh;
        }
        #slide-5 .col-5 {
            width: 100%;
            height: 50vh;
        }
        #slide-5 .i-wrapper{
            text-align: center;
        }
        #slide-5 .button {
            margin-left: auto;
            margin-right: auto;
        }
         #slide-5 .col {
            height: 35vh;
        }

        // 
        #slide-2 .home-bckg{
            background: rgb(45, 50, 148);
        }
        #slide-3 .home-bckg{
            background: rgb(76, 159, 145);
        }
        #slide-4 .home-bckg{
            background: rgb(178, 126, 228);
        }
        #slide-5 .home-bckg{
            background: #fff;
        }
        .home-bckg img {
            max-width: 120%;
            max-height: 114%;
        }
        .home-bckg img{
            max-width: 100%;
            max-height: 100%;
        }
        .home-bckg .images,
        .home-bckg .shape{
            height: 70vh;
            width: 28%;
        }
        .home-globe{
            top: 35%;
            z-index: 0;
        }
        #slide-2 img{
            transform: translate(0%,0%) scaleX(-1);
        }
        // 
        .infos:before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 160px;
            bottom: -160px;
            z-index: -2;
        }
        .infos {
            margin-bottom: 160px;
            overflow: initial;
        }
        #slide-1:before {
            background: linear-gradient(
        0deg,#2d3294,#141515);
            height: 160px;
            bottom: -160px;
            z-index: 5;
        }
         #slide-2:before {
            background: linear-gradient(
        0deg,#4c9f91,#2d3294);
        }
        #slide-3:before {
            background: linear-gradient(
        0deg,#b27ee4,#4c9f91);
        }
        #slide-4:before {
            background: linear-gradient(
        0deg,#fff,#b27ee4);
        }
        #slide-5 .i-wrapper {
            width: 100%;
        }
        .home-infos .steps{
            padding-left: 0px;
            
        }
        #slide-2  .home-infos .steps,
        #slide-3  .home-infos .steps,
        #slide-4  .home-infos .steps,
        #slide-5  .home-infos .steps{
            align-items: flex-start;
            top: 25% ;
        }
        #slide-5 .i-wrapper{
            padding-left: 0px;
            padding-top: 10%;
        }

        // 
        .clients.c-home .image {
            width: auto;
            display: inline-block;
            height: 52px;
            margin: 10px auto;
        }
        
        .clients.c-home {
            top: 115%;
        }
        .clients  .wrapper{
            transform: rotate(-2.7deg);
        }

        

        // slide-1 Code Starts From here
        #slide-1 .title,#slide-1 .i-wrapper {
            width: 70%;
            position: relative;
            text-align: center;
            left: initial;
        }
        
        #slide-1 .paragraph {
            display: none;
        }
        
        #slide-1 .steps {
            flex-flow: column;
            align-items: center;
            justify-content: center;
            padding-top: 15%;
        }
        
        #slide-1 .i-wrapper .button {
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }
        
        #slide-1 .shape {
            width: 60%;
            top: 64%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .clients.c-home{
            transform: translate(-50%,-50%);
            width: 100%;
        }
        .clients.c-home .wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            transform: rotate(
        -2.7deg
        );
        }
        .clients.c-home .line {
            width: 100%;
            margin: 0;
            transform: none;
        }
        .clients.c-home .logos {
            display: inline-block;
        }
        .clients.c-home .line:first-of-type .logos {
            transform: none;
            -webkit-animation: marquee 180s linear 0s infinite normal none running;
            animation: marquee 180s linear 0s infinite normal none running;
        }
        .clients.c-home .image img {
            width: auto;
            height: 100%;
        }
        .clients.c-home .image:before, 
        .clients.c-home .image:after {
            background: transparent;
        }
        #slide-1{
            &::before{
                z-index: 0;
            }
            z-index: 5;
            .images{
                .img{
                    img{
                        
                    }
                }
            }
        }
        #slide-1 .title {
            font-size: 180%!important;
            line-height: 115%!important;
            margin-bottom: 11px;
        }
        #slide-2 .home-bckg, #slide-2 .home-infos {
            padding-top: 8%;
        }
        #slide-2{
            .shape{
                top: 62%;
            }
            .images{
                top: 66%;
                .img{
                    right: 0;
                    left: initial;
                    img{
                        position: relative;
                        right: -32%;
                        max-width: 88%;
                    }
                }
            }
        }
        #slide-3{
            .images{
                .img{
                    img{
                        
                    }
                }
            }
        }
        #slide-4{
            .images{
                .img{
                    img{
                        position: relative;
                        right: 0;
                    }
                }
            }
        }
        // slide-1 Codes Ends Here
        
    }
    // .footer .row:nth-child(2) {
    //     max-width: 91%;
    //     position: relative;
    //     left: 50%;
    //     transform: translateX(-50%);
    // }
    .footer .title {
        font-size: 3vw;
        line-height: 12vh;
    }
    .footer .button{
        margin-top: 15px;
    }
    .footer .button .wrapper{
        padding: 8px 25px 8px;
    }
    .modal .text {font-size: 15px;}

    .modal  .button.b-align-center {
        margin-top: 30px !important;
    }
    .footer .container-fluid .row:first-of-type{
        padding-bottom: 10px;
    }
    // 
    .footer .item, .footer .f-infos a, .footer .f-infos  span {
        font-size: 1.5vw;
        line-height: 5vh;
    }
    
    .footer .legals {
        padding-bottom: 10px;
    }
    
    .footer .scrollup {
        height: 0px;
    }
    
    .footer .scrollup .button {
        margin-top: 0px;
    }
    
    .footer .scrollup .button .wrapper {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    // 
    .footer-ontop .header {
        height: 70px;
        padding: 20px 0;
    }
    .footer .button .text {
        font-size: 12px;
    }
    .footer .scrollup .button.b-icon .wrapper {
        width: 40px;
        height: 40px;
        padding: 0;
        display: inline-block;
    }
    
    
}

@media screen and (orientation:landscape) and (max-width:600px) {
    .home-content{
        .clients.c-home .image {
            height: 30px;
        }
        .button .wrapper {
            padding: 8px 25px 10px;
        }
        .button .label, .button .text {
            font-size: 9px;
        }
        
    }
    .footer .scrollup .button.b-icon .wrapper {
        width: 35px;
        height: 35px;
    }
}


@media screen and (orientation:portrait) and (max-width:320px) {
    .home-content{
        .home-infos .button {
            margin: 10px auto 0;
        }
        .home-infos .title .words {
            padding-left: 0px;
        }
        .title {
            font-size: 25px;
            line-height: 32px;
        }
        .home-infos .paragraph {
            font-size: 13px;
        }
        .button .wrapper {
            padding: 10px 30px 9px;
        }
        .button .label, .button .text {
            font-size: 10px;
        }
        .modal .text {
            font-size: 15px;
        }
        .home-infos .steps {
            top: 0%;
        }
    }
}


// iphone and mobile portrait device
@media screen and (orientation:portrait) and (min-width:350px) and (max-width:767px) {
    .home-content{
        .infos {
            height: 85vh!important;
        }
        .home-infos .steps {
            top: 7%;
        }
        #slide-2 .images .img {
            width: 100%;
        }
         #slide-4 .images .img img {
            max-width: 55%;
            max-height: 50%;
        }
        #slide-4 .images .img {
            left: -44%;
            top: 22%;
            max-height: 150%!important;
        }
    }

    .w-team .people-scramble .wrapper {
        height: 100% !important;
        top: 50%;
        transform: translate(0, -50%);
    }


}
