// All Landscape Device is Here 
@media screen and (orientation: landscape) and (max-width:1120px) {
    
}

// all portrait Device is Here
@media screen and (orientation:portrait) and (max-width: 1150px) { 
    .home-infos .title {
        text-align: center;
        position: relative;
        transform: none;
        left: auto;
        width: 100%;
        top: auto;
    }
    // .title {
    //     font-size: 32px;
    //     line-height: 37px;
    // }
    .home-infos .steps {
        padding: 0 30px;
        width: 100%;
        top: 20%;
        transform: translateX(-50%);
        height: auto;
        position: absolute;
    }
    .home-infos {
        top: 0;
        position: absolute;
    }
    .home-infos .i-wrapper {
        position: relative;
        top: auto;
        transform: none;
        right: auto;
        width: 100%;
    }
    .home-infos .paragraph {
        display: none;
    }
    .paragraph {
        font-size: 16px;
        line-height: 24px;
    }
    .home-infos .button {
        margin-top: 40px;
    }
    .home-infos .button {
        margin: 40px auto 0;
    }
    .home-globe .canvas canvas {
        position: absolute;
        left: 50%;
        top: 50% !important;
        transform: translate(-50%,-50%) !important;
    }
    .home-globe .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #000;
        z-index: 2;
        border-radius: 100%;
    }
    .home-globe .g-wrapper {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .home-globe {
        top: 40% !important;
        position: absolute;
        z-index: 2;
    }
    .home-bckg .shape {
        top: 90%;
        padding-left: 0;
        height: 40%;
        width: 90%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        border-radius: 20px;
    }
    .home-content #slide-1:before {
        background: linear-gradient(
    0deg,#2d3294,#141515);
        height: 200px;
        bottom: -200px;
    }
    .home-content .infos:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 160px;
        bottom: -160px;
        z-index: -2;
    }
    .home-content #slide-1 {
        background: #141515;
        margin-bottom: 200px;
    }
    .home-content .infos {
        align-items: flex-start;
    }
    
    .home-content #slide-2 {
        background: #2d3294;
    }
    .home-content .infos {
        overflow: initial;
        margin-bottom: 160px;
    }
    .home-content .infos {
        align-items: flex-start;
    }
    .home-bckg[data-type=mobile] {
        display: block;
        background: transparent;
        position: absolute;
        top: 0;
    }
    .home-bckg {
        height: 100%;
    }
    #slide-3 .home-infos .paragraph,
    #slide-4 .home-infos .paragraph,
    #slide-5 .home-infos .paragraph,
    #slide-6 .home-infos .paragraph,
    #slide-2 .home-infos .paragraph {
        display: block;
        text-align: center;
        padding-top: 45px;
    }
    .home-content #slide-3:before {
        background: linear-gradient(
    0deg,#b27ee4,#4c9f91);
    
    }

    .home-content #slide-2:before {
        background: linear-gradient(
    0deg,#4c9f91,#2d3294);
    }
    #slide-2 .images {
        left: initial;
        right: 0;
    }
    .home-content #slide-2 .images .img {
        position: absolute;
        right: 0px;
        transform: translateX(0) rotate(
    0deg) scaleX(-1);
        top: -30%;
        width: 130%;
        max-width: 500px;
        left: initial;
    }
    .home-bckg .images {
        transform: none;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 270px;
        top: 70%;
        padding-left: 40vh;
        position: absolute;
    }
    .home-content #slide-3:before {
        background: linear-gradient(
    0deg,#b27ee4,#4c9f91);
    
    }
    .home-content #slide-3 {
        background: #4c9f91;
    }
    .home-content #slide-4 {
        background: #b27ee4;
    }
    .home-content #slide-4:before {
        background: linear-gradient(
    0deg,#fff,#b27ee4);
    }
    #slide-4 .home-bckg .images {
        transform: none;
        left: 0;
        position: absolute!important;
        top: initial !important;
    }
    .home-content #slide-4 .images .img {
        transform: translate(0,0) rotate(
    45deg) !important;
        left: -19%;
        bottom: -67% !important;
        top: initial !important;
    }
    .title {
        font-size: 200% !important;
        line-height: 121% !important;
    }
    #slide-3 .img {
        left: 0;
        top: initial !important;
        transform: none;
        bottom: -51%;
    }
    
    #slide-3 .images {
        top: initial;
        transform: none;
    }
    
    #slide-3 img {
        max-width: 400px;
    }
    
}

