.kcg-case-study-wrapper {
    position: relative;
    min-height: 100px;
}
.work-filter-nav {
    display: none;
    position: relative;
    align-self: flex-start;
    z-index: 5;
}
.work-left-arrow.work-filter-nav {
    left: -10px;
}
.work-right-arrow.work-filter-nav {
    right: -10px;
}
.work-filter-nav .button.b-icon .wrapper {
    width: 30px;
    height: 30px;
}
.work-filter-dropdown-nav {
    display: none;
    position: absolute;
    top: 65px;
    z-index: 5;
}
.work-filter-dropdown-nav.work-dropdown-left-arrow {
    left: 0;
}
.work-filter-dropdown-nav.work-dropdown-right-arrow {
    right: 0;
}
.filter .work-filter-dropdown-nav .button.b-icon .wrapper {
    width: 20px;
    height: 20px;
    border: none;
}
.work-filter-dropdown-nav .button:hover .wrapper::before {
    display: none;
}
.work-filter-dropdown-nav .button.b-black:hover .arrow svg path {
    fill: #000000;
}
.works-filter-menu {
    position: relative;
    display: flex;
    flex-flow: nowrap;
    width: 100%;
    grid-gap: 40px;
    z-index: 4;

    li.active > .item::before {
        width: 100%;
    }
    li:hover > .item > span {
        color: #000000;
    }
    li:hover {
        .item {
            &::before {
                width: 100%;
            }
        }
    }
    li.active .filter-dropdown {
        display: flex;
        flex-flow: nowrap;
        grid-gap: 10px;
    }
    li.active > .item > span {
        color: #000000;
    }
}
.filter-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px 0;
    display: none;
    overflow: hidden;

    li {
        display: inline-block;

        .item {
            padding: 5px 10px;
            display: inline-grid;
            align-items: center;
            text-align: center;

            span {
                color: rgba(0,0,0,.4);
            }

            &::before{
                display: none;
            }
        }
    }
}
.works-list:not(:first-child) {
    padding-top: 40px;
}
.works-list.loading {
    min-height: 100px;
    mix-blend-mode: color;
    background-color: rgba(255,255,255, 1);
}
.kcg-case-study-wrapper .ajax-loader {
    position: absolute;
    background-color: #ffffff;
    top: -15px;
    left: -15px;
    width: ~"calc(100% + 30px)";
    height: ~"calc(100% + 30px)";
    text-align: center;
    z-index: 2;
}
.kcg-case-study-wrapper .ajax-loader svg {
    width: 50px;
    height: 50px;
    margin: 100px auto;
}
.onscroll-load-works {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
@media( max-width: @screen-medium ) {
    .works-filter-menu {
        padding-bottom: 45px;
    }
    .work-filter-nav {
        display: block;
    }
    .work-filter-dropdown-nav {
        display: block;
        top: 50px;
    }
    .work-filter-dropdown-nav.work-dropdown-left-arrow {
        left: 15px;
    }
    .work-filter-dropdown-nav.work-dropdown-right-arrow {
        right: 15px;
    }
    .works-filter-menu {
        padding-bottom: 75px;
        overflow: hidden;
        box-sizing: border-box;
        width: 1000px;

        &li .item {
            padding-bottom: 10px;
        }
        li.active {
            .filter-dropdown {
                top: 25px;
            }
        }

        .filter-dropdown {
            width: 1000px;

            li {
                padding: 0;

                .item {
                    margin: 0;
                    border: none;
                    min-width: initial;
                }
            }
        }
    }
}

//SINGLE WORK TEMPLATE STYLE
.single-works .testimonial {
    padding-bottom: 0;
}
.single-works .works-content {
    min-height: inherit;
}


//CULTURE PAGE STYLE
@media screen and (max-width: 575px) {
    .elementor-widget .elementor-icon-list-item {
        flex-flow: wrap row;
    }
    .elementor-icon-list-icon {
        width: 100%;
    }
    .elementor-icon-list-text {
        width: 100%;
        margin-top: 30px;
    }
}